/* License: LGPL-3.0-or-later */
.modal {
  opacity: 0.3;
  transition: all 0.3s linear;
}

.modal-has-entered {
  opacity: 1;
  transition: all 0.3s linear;
}

.underlay {
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.underlay-has-entered {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}


