<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<!-- partial start components/browser_buttons -->
<div class='browserButtons'>
	<div class='browserButtons-inner'>
		<i></i>
		<i></i>
		<i></i>
	</div>
</div>
<!-- partial end components/browser_buttons -->
