<!-- partial start components/browser_buttons -->
<div class='browserButtons'>
	<div class='browserButtons-inner'>
		<i></i>
		<i></i>
		<i></i>
	</div>
</div>
<!-- partial end components/browser_buttons -->
