<div class='modal skinny' id='duplicateFundraiserModal'>
 <%= render 'common/modal_header', title: "Copy #{type}" %>
  <section class='modal-body'>
    <p>Click the button below to create a copy of this <%= type %> and to view the copy.</p>
    <div class='u-centered u-marginTop--20'>
      <button class='button' id='js-duplicateFundraiser'>Copy <%= type %></button>
    </div>
  </section>
</div>

