<!--  License: CC0-1.0 -->
<div id='commitchange-global-loading' style='
  position: fixed; 
  width: 100%; 
  height: 100%; 
  z-index: 99999; 
  background-color: white;'>
  <div style='
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 1.5rem;
    left: 0;
    top: 50%;
    padding: 1rem;
    transform: translateY(-50%);'>
    Loading...
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById('commitchange-global-loading').style.display = 'none'
  })
</script>

