<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>

<!-- partial start: components/_guest_footer -->


<section class='group container globalFooter-guest'>

	<ul class='col-4 u-noClear u-margin--0 u-paddingRight--20'>
		<li class='globalFooter-title'>Get Started</li>
		<li><a open-modal='loginModal'>Login</a></li>
		<li><a data-ff-open-onboard>NPO Signup</a></li>
    <li><a href='/peer-to-peer'>Peer to Peer Campaign</a></li>
	</ul>

	<ul class='col-4 u-noClear u-margin--0 u-paddingRight--20'>
	</ul>

	<ul class='col-4 u-noClear u-margin--0'>
    <% if Settings.terms_and_privacy&.help_url %>
		<li><%= link_to("Help", Settings.terms_and_privacy.help_url) %></li>
      <% end %>

	</ul>

	<%# <div class='globalFooter-mailingListCol'> %>
    <%# <a class='button--small blue u-floatR' href='/demo'> %>
      <%# Free Demo %>
    <%# </a> %>
	<%# </div> %>

</section>
<!-- partial end: components/_guest_footer -->
