<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% if params[:preview] %>
  <div class='notification show'>
    Currently in <strong>preview mode</strong>.
    <a href='?'>Return to admin mode</a>
  </div>
<% end %>

