<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<blockquote><%= quote %></blockquote>
<div class='group'>
  <table class='u-marginTop--30 u-floatR'><tr>
    <td class='u-width--60'><img src="<%= asset_path img_url %>" class='u-circle'></td>
    <td class='u-paddingLeft--10'><small><%= caption %></small></td>
  </table></tr>
</div>

