<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<div class='modal' id='shareModal'>
	<header class='modal-header'>
		<h5 class='modal-header-title'><%= name %></h5>
		<%= render 'common/modal_close' %>
	</header>
	<section class='modal-body'>
		<p class='u-centered strong u-marginBottom--20'>Think this cause is cool? Share it with your friends.</p>
		<%= render 'common/social_buttons' %>
	</section>
</div>
