<!-- partial start: componenets/trial_bar -->
<div class='is-showing announcementBar--grey'>
	<div class='container transparent centered'>
		You have <%= QueryBillingSubscriptions.days_left_in_trial(@nonprofit.id) %> days left in your free trial. You can   
    <a href="/nonprofits/<%= @nonprofit.id%>/card/edit" class='u-underline'>activate your account at anytime.
		</a>
	</div>
</div>
<!-- partial end: componenets/trial_bar -->
