# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
  
  - package-ecosystem: "bundler"
    directory: "/"
    ignore:
      - dependency-name: rails # rails is a whole other thing that we're gonna handle on our own
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    groups:
      development-dependencies-minor:
        dependency-type: development
        update-types:
          - patch
          - minor
      development-dependencies-major:
        dependency-type: development
        update-types:
          - major
      production-dependencies-minor:
        dependency-type: production
        update-types:
          - patch
          - minor
      production-dependencies-major:
        dependency-type: production
        update-types:
          - major
    schedule:
      interval: "weekly"
