# License: LGPL-3.0-or-later
# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "bundler" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"] # we don't want to have semver-major changes
    groups:
      ruby-minor-development:
        dependency-type: development
        update-types:
          - minor
          - patch
      ruby-minor-production:
        dependency-type: production
        update-types:
          - minor
          - patch
    open-pull-requests-limit: 10
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*" # group all github actions
  - package-ecosystem: npm
    directory: "/"
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
      - dependency-name: "eslint-plugin-storybook"
        versions:
          - ">= 0.7" # 0.7 requires node 18 and we don't support that yet
    schedule:
      interval: "weekly"
    groups:
      npm-minor-development:
        dependency-type: development
        update-types:
          - minor
          - patch
      npm-minor-production:
        dependency-type: production
        update-types:
          - minor
          - patch
      
    


