/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import './mixins.css.scss';

.mainPanel td:last-of-type {
	@include ellipsis;
} // for type td

.paymentTypeIcon {
	color: $bluegrass;
}

.refundStatus {
	font-weight: bold;
}
.refundStatus.succeeded {
	color: $thankYou-green;
}
.refundStatus.failed {
	color: $red;
}
.refundStatus.pending {
	color: $oj;
}

