/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import './mixins.css.scss';
@import './pikaday.css.scss';
@import './bootstrap-tour.css.scss';
@import './components/pagination.css.scss';
@import '././main_panel.css.scss';
@import './components/page_tabs.css.scss';
@import './components/panels_layout.css.scss';
@import './components/tables/filtering/meta_status.css.scss';

.panelsLayout.is-showingSidePanel {
	.mainPanel td:nth-of-type(5),
	.mainPanel td:nth-of-type(4),
	.mainPanel td:nth-of-type(2),
	.mainPanel th:nth-of-type(5),
	.mainPanel th:nth-of-type(4),
	.mainPanel th:nth-of-type(2),{
		display: none;
	}
	.mainPanel td:nth-of-type(3) {
		background: rgba($sage, 0.2);
	}
}

.sidePanel-body tbody td:first-of-type {
	font-weight: bold;
	width: 25%;
}
.sidePanel-body .addressTd p:first-of-type {
	margin-top: 5px;
}
.sidePanel {
	right: -65%;
	width: 65%;
}
.panelsLayout.is-showingSidePanel .button--closeSidePanel {
	right: 65%;
}
.panelsLayout.is-showingSidePanel .mainPanel {
	width: 35%;
}
.panelsLayout.is-showingSidePanel .pagination {
	width: 35%;
}

.table-meta--main {
	@include transition(padding-bottom 0.1s ease);
	@include transform(translateZ(0));
}
