# frozen_string_literal: true

# License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE

CarrierWave.configure do |config|
    config.storage = :aws
    config.aws_bucket = "<%= @aws_bucket %>"
    config.aws_acl    = :public_read
    config.asset_host = "<%= @aws_assethost %>"
    config.aws_credentials = {
        region: "<%= @aws_region %>"
    }
end
  