# general files
storage/*
tmp/*
public/*
log/*
coverage/*

# old ts files we want to migrate
app/javascript/donate-button/donate-button.v2.ts
app/javascript/legacy_react/api/api/api.ts
app/javascript/legacy_react/api/api/NonprofitsApi.ts
app/javascript/legacy_react/api/api/UsersApi.ts
app/javascript/legacy_react/api/configuration.ts
app/javascript/legacy_react/api/index.ts
app/javascript/legacy_react/api/model/models.ts
app/javascript/legacy_react/api/model/Nonprofit.ts
app/javascript/legacy_react/api/model/PostNonprofit.ts
app/javascript/legacy_react/api/model/PostNonprofitNonprofit.ts
app/javascript/legacy_react/api/model/PostNonprofitUser.ts
app/javascript/legacy_react/api/model/PostUser.ts
app/javascript/legacy_react/api/model/ValidationError.ts
app/javascript/legacy_react/api/model/ValidationErrors.ts
app/javascript/legacy_react/app/loading_indicator.ts
app/javascript/legacy_react/src/components/common/form/react_input_props.ts
app/javascript/legacy_react/src/components/common/test/unique_id_mock.ts
app/javascript/legacy_react/src/components/common/wizard/abstract_wizard_state.ts
app/javascript/legacy_react/src/components/common/wizard/RAT/abstract_tabcomponent_state.ts
app/javascript/legacy_react/src/components/common/wizard/RAT/specialAssign.ts
app/javascript/legacy_react/src/components/common/wizard/RAT/Tab.ts
app/javascript/legacy_react/src/components/common/wizard/RAT/TabList.ts
app/javascript/legacy_react/src/components/common/wizard/RAT/TabPanel.ts
app/javascript/legacy_react/src/components/common/wizard/RAT/Wrapper.ts
app/javascript/legacy_react/src/components/common/wizard/wizard_state.spec.ts
app/javascript/legacy_react/src/components/common/wizard/wizard_state.ts
app/javascript/legacy_react/src/lib/api_manager.spec.ts
app/javascript/legacy_react/src/lib/api_manager.ts
app/javascript/legacy_react/src/lib/api/create_offsite_donation.ts
app/javascript/legacy_react/src/lib/api/put_donation.ts
app/javascript/legacy_react/src/lib/api/sign_in.ts
app/javascript/legacy_react/src/lib/apis.ts
app/javascript/legacy_react/src/lib/createNumberMask.spec.ts
app/javascript/legacy_react/src/lib/createNumberMask.ts
app/javascript/legacy_react/src/lib/csrf_interceptor.ts
app/javascript/legacy_react/src/lib/date.ts
app/javascript/legacy_react/src/lib/dedication.ts
app/javascript/legacy_react/src/lib/deprecated_format.ts
app/javascript/legacy_react/src/lib/format.spec.ts
app/javascript/legacy_react/src/lib/format.ts
app/javascript/legacy_react/src/lib/houdini_form.ts
app/javascript/legacy_react/src/lib/mobx_utils.ts
app/javascript/legacy_react/src/lib/nonprofitBranding.ts
app/javascript/legacy_react/src/lib/payments/credit_card.spec.ts
app/javascript/legacy_react/src/lib/payments/credit_card.ts
app/javascript/legacy_react/src/lib/regex.spec.ts
app/javascript/legacy_react/src/lib/regex.ts
app/javascript/legacy_react/src/lib/tests/helpers.ts
app/javascript/legacy_react/src/lib/utils.ts
app/javascript/legacy_react/src/lib/vjf_rules.ts
app/javascript/packs/loading_indicator.ts
types/dotize/index.d.ts
types/mobx-react-form/index.d.ts
types/react-aria-modal/index.d.ts

# old js files
app/javascript/packs/application.js
app/javascript/packs/create_new_offsite_payment_pane.js
app/javascript/packs/donate-button-v2.js
app/javascript/packs/edit_payment_pane.js
app/javascript/packs/i18n.js
app/javascript/packs/page__bank_accounts__confirm.js
app/javascript/packs/page__campaigns__index.js
app/javascript/packs/page__campaigns__peer_to_peer.js
app/javascript/packs/page__campaigns__show.js
app/javascript/packs/page__campaigns__supporters__index.js
app/javascript/packs/page__events__index.js
app/javascript/packs/page__events__show.js
app/javascript/packs/page__events__stats.js
app/javascript/packs/page__nonprofits__btn.js
app/javascript/packs/page__nonprofits__button.js
app/javascript/packs/page__nonprofits__dashboard.js
app/javascript/packs/page__nonprofits__donate.js
app/javascript/packs/page__nonprofits__edit.js
app/javascript/packs/page__nonprofits__payments__index.js
app/javascript/packs/page__nonprofits__payouts__index.js
app/javascript/packs/page__nonprofits__recurring_donations__index.js
app/javascript/packs/page__nonprofits__show.js
app/javascript/packs/page__nonprofits__supporter_form.js
app/javascript/packs/page__nonprofits__supporters__index.js
app/javascript/packs/page__nonprofits__supporters__new.js
app/javascript/packs/page__profiles__donations_history.js
app/javascript/packs/page__profiles__fundraisers.js
app/javascript/packs/page__profiles__show.js
app/javascript/packs/page__recurring_donations__edit.js
app/javascript/packs/page__settings__index.js
app/javascript/packs/page__stripe_wrapper.js
app/javascript/packs/page__super-admin.js
app/javascript/packs/page__tickets__index.js
app/javascript/packs/server_rendering.js
babel.config.js
config/webpack/development.js
config/webpack/environment.js
config/webpack/loaders/erb.js
config/webpack/production.js
config/webpack/test.js
lib/templates/rails/assets/javascript.js
postcss.config.js
setupTests.js

# old es files
app/javascript/legacy/bank_accounts/confirm/index.es6
app/javascript/legacy/bank_accounts/create.es6
app/javascript/legacy/campaigns/supporters/index/index.es6
app/javascript/legacy/campaigns/supporters/index/meta.es6
app/javascript/legacy/campaigns/supporters/index/metrics.es6
app/javascript/legacy/campaigns/supporters/index/supporter-list.es6
app/javascript/legacy/campaigns/supporters/index/supporter-table.es6
app/javascript/legacy/cards/create-frp.es6
app/javascript/legacy/common/direct-to-s3-upload.es6
app/javascript/legacy/common/editor/froala.es6
app/javascript/legacy/common/editor/quill.es6
app/javascript/legacy/common/ff-form-validation/index.es6
app/javascript/legacy/common/ff-form-validation/lib/currency-regex.es6
app/javascript/legacy/common/ff-form-validation/lib/email-regex.es6
app/javascript/legacy/common/ff-form-validation/lib/readable-prop.es6
app/javascript/legacy/common/post-form-data.es6
app/javascript/legacy/components/card-form.es6
app/javascript/legacy/components/color-picker.es6
app/javascript/legacy/components/sepa-form.es6
app/javascript/legacy/components/show-more-button.es6
app/javascript/legacy/components/supporter-address-form.es6
app/javascript/legacy/components/tables/search.es6
app/javascript/legacy/nonprofits/payouts/index/identity-verification-form.es6
app/javascript/legacy/nonprofits/recurring_donations/index/index.es6
app/javascript/legacy/nonprofits/supporter_form/index.es6
app/javascript/legacy/nonprofits/supporters/import/index.es6
app/javascript/legacy/recurring_donations/edit/amount-step.es6
app/javascript/legacy/recurring_donations/edit/branded-wizard.es6
app/javascript/legacy/recurring_donations/edit/card-form.es6
app/javascript/legacy/recurring_donations/edit/change-amount-wizard.es6
app/javascript/legacy/recurring_donations/edit/custom-nonprofit-branding.es6
app/javascript/legacy/recurring_donations/edit/index.es6
app/javascript/legacy/recurring_donations/edit/payment-step.es6
app/javascript/legacy/stripe_wrapper/index.es6
app/javascript/legacy/supporters/info-card.es6

# jsx files
app/javascript/stories/index.jsx

# tsx files
app/javascript/legacy_react/app/create_new_offsite_payment_pane.tsx
app/javascript/legacy_react/app/edit_payment_pane.tsx
app/javascript/legacy_react/javascripts/app/create_new_offsite_payment_pane.tsx
app/javascript/legacy_react/javascripts/app/edit_payment_pane.tsx
app/javascript/legacy_react/src/components/common/BootstrapWrapper.tsx
app/javascript/legacy_react/src/components/common/DefaultCloseButton.tsx
app/javascript/legacy_react/src/components/common/fields.tsx
app/javascript/legacy_react/src/components/common/form/ReactForm.tsx
app/javascript/legacy_react/src/components/common/form/ReactInput.spec.tsx
app/javascript/legacy_react/src/components/common/form/ReactInput.tsx
app/javascript/legacy_react/src/components/common/form/ReactMaskedInput.tsx
app/javascript/legacy_react/src/components/common/form/ReactSelect.spec.tsx
app/javascript/legacy_react/src/components/common/form/ReactSelect.tsx
app/javascript/legacy_react/src/components/common/form/ReactTextarea.spec.tsx
app/javascript/legacy_react/src/components/common/form/ReactTextarea.tsx
app/javascript/legacy_react/src/components/common/LabeledFieldComponent.spec.tsx
app/javascript/legacy_react/src/components/common/LabeledFieldComponent.tsx
app/javascript/legacy_react/src/components/common/layout.spec.tsx
app/javascript/legacy_react/src/components/common/layout.tsx
app/javascript/legacy_react/src/components/common/Modal.spec.tsx
app/javascript/legacy_react/src/components/common/Modal.tsx
app/javascript/legacy_react/src/components/common/ProgressableButton.spec.tsx
app/javascript/legacy_react/src/components/common/ProgressableButton.tsx
app/javascript/legacy_react/src/components/common/Root.tsx
app/javascript/legacy_react/src/components/common/selectable_table_row/connect.tsx
app/javascript/legacy_react/src/components/common/selectable_table_row/SelectableTableRow.spec.tsx
app/javascript/legacy_react/src/components/common/selectable_table_row/SelectableTableRow.tsx
app/javascript/legacy_react/src/components/common/StandardFieldComponent.spec.tsx
app/javascript/legacy_react/src/components/common/StandardFieldComponent.tsx
app/javascript/legacy_react/src/components/common/svg/CloseButton.tsx
app/javascript/legacy_react/src/components/common/test/react_test_helpers.tsx
app/javascript/legacy_react/src/components/create_offsite_payment_pane/CreateOffsitePaymentPane.tsx
app/javascript/legacy_react/src/components/edit_payment_pane/EditPaymentPane.tsx

#included code from another package
app/javascript/common/lodash-joins

#javascript locales
app/javascript/i18n/locales
# don't check any js in the installed gems on build server
vendor/bundle

# Mock Service Worker file should not be linted
.storybook/react/msw-public/mockServiceWorker.js
