# general files
storage/*
tmp/*
public/*
log/*
coverage/*

# old ts files we want to migrate
app/packs/donate-button/donate-button.v2.ts
app/packs/legacy_react/api/api/api.ts
app/packs/legacy_react/api/api/NonprofitsApi.ts
app/packs/legacy_react/api/api/UsersApi.ts
app/packs/legacy_react/api/configuration.ts
app/packs/legacy_react/api/index.ts
app/packs/legacy_react/api/model/models.ts
app/packs/legacy_react/api/model/Nonprofit.ts
app/packs/legacy_react/api/model/PostNonprofit.ts
app/packs/legacy_react/api/model/PostNonprofitNonprofit.ts
app/packs/legacy_react/api/model/PostNonprofitUser.ts
app/packs/legacy_react/api/model/PostUser.ts
app/packs/legacy_react/api/model/ValidationError.ts
app/packs/legacy_react/api/model/ValidationErrors.ts
app/packs/legacy_react/app/loading_indicator.ts
app/packs/legacy_react/src/components/common/form/react_input_props.ts
app/packs/legacy_react/src/components/common/test/unique_id_mock.ts
app/packs/legacy_react/src/components/common/wizard/abstract_wizard_state.ts
app/packs/legacy_react/src/components/common/wizard/RAT/abstract_tabcomponent_state.ts
app/packs/legacy_react/src/components/common/wizard/RAT/specialAssign.ts
app/packs/legacy_react/src/components/common/wizard/RAT/Tab.ts
app/packs/legacy_react/src/components/common/wizard/RAT/TabList.ts
app/packs/legacy_react/src/components/common/wizard/RAT/TabPanel.ts
app/packs/legacy_react/src/components/common/wizard/RAT/Wrapper.ts
app/packs/legacy_react/src/components/common/wizard/wizard_state.spec.ts
app/packs/legacy_react/src/components/common/wizard/wizard_state.ts
app/packs/legacy_react/src/lib/api_manager.spec.ts
app/packs/legacy_react/src/lib/api_manager.ts
app/packs/legacy_react/src/lib/api/create_offsite_donation.ts
app/packs/legacy_react/src/lib/api/put_donation.ts
app/packs/legacy_react/src/lib/api/sign_in.ts
app/packs/legacy_react/src/lib/apis.ts
app/packs/legacy_react/src/lib/createNumberMask.spec.ts
app/packs/legacy_react/src/lib/createNumberMask.ts
app/packs/legacy_react/src/lib/csrf_interceptor.ts
app/packs/legacy_react/src/lib/date.ts
app/packs/legacy_react/src/lib/dedication.ts
app/packs/legacy_react/src/lib/deprecated_format.ts
app/packs/legacy_react/src/lib/format.spec.ts
app/packs/legacy_react/src/lib/format.ts
app/packs/legacy_react/src/lib/houdini_form.ts
app/packs/legacy_react/src/lib/mobx_utils.ts
app/packs/legacy_react/src/lib/nonprofitBranding.ts
app/packs/legacy_react/src/lib/payments/credit_card.spec.ts
app/packs/legacy_react/src/lib/payments/credit_card.ts
app/packs/legacy_react/src/lib/regex.spec.ts
app/packs/legacy_react/src/lib/regex.ts
app/packs/legacy_react/src/lib/tests/helpers.ts
app/packs/legacy_react/src/lib/utils.ts
app/packs/legacy_react/src/lib/vjf_rules.ts
app/packs/packs/loading_indicator.ts
types/dotize/index.d.ts
types/mobx-react-form/index.d.ts
types/rails__activestorage/index.d.ts
types/react-aria-modal/index.d.ts

# old js files
app/packs/components/SessionLoginPage.js
app/packs/legacy/bank_accounts/confirm/page.js
app/packs/legacy/bank_accounts/resend_confirmation_email.js
app/packs/legacy/campaigns/index/page.js
app/packs/legacy/campaigns/new/peer_to_peer_wizard.js
app/packs/legacy/campaigns/new/wizard.js
app/packs/legacy/campaigns/peer_to_peer/page.js
app/packs/legacy/campaigns/show/admin.js
app/packs/legacy/campaigns/show/choose-gift-options-modal.js
app/packs/legacy/campaigns/show/gift-option-button.js
app/packs/legacy/campaigns/show/gift-option-list.js
app/packs/legacy/campaigns/show/gift-option-quantity-left.js
app/packs/legacy/campaigns/show/is-sold-out.js
app/packs/legacy/campaigns/show/metrics-and-contribute-box.js
app/packs/legacy/campaigns/show/page.js
app/packs/legacy/campaigns/show/tour.js
app/packs/legacy/campaigns/supporters/index/page.js
app/packs/legacy/campaigns/timeline.js
app/packs/legacy/campaigns/totals.js
app/packs/legacy/cards/create.js
app/packs/legacy/common/ajax/check_campaign_or_event_name.js
app/packs/legacy/common/ajax/get_campaign_and_event_names_and_ids.js
app/packs/legacy/common/application_view.js
app/packs/legacy/common/apply-pikaday.js
app/packs/legacy/common/autosubmit.js
app/packs/legacy/common/brand-fonts.js
app/packs/legacy/common/class-object.js
app/packs/legacy/common/client.js
app/packs/legacy/common/colors.js
app/packs/legacy/common/confirmation.js
app/packs/legacy/common/credit-card-validator.js
app/packs/legacy/common/css-gradient.js
app/packs/legacy/common/dynamic_form.js
app/packs/legacy/common/editable.js
app/packs/legacy/common/el_swapo.js
app/packs/legacy/common/event.js
app/packs/legacy/common/file-input-stream.js
app/packs/legacy/common/form-to-object.js
app/packs/legacy/common/form.js
app/packs/legacy/common/format_response_error.js
app/packs/legacy/common/format.js
app/packs/legacy/common/fundraiser_metrics.js
app/packs/legacy/common/geography.js
app/packs/legacy/common/get-valid-data.js
app/packs/legacy/common/image_uploader.js
app/packs/legacy/common/jquery_additions.js
app/packs/legacy/common/notification.js
app/packs/legacy/common/on-change-sanitize-slug.js
app/packs/legacy/common/on-ios11.js
app/packs/legacy/common/onboard.js
app/packs/legacy/common/panels_layout.js
app/packs/legacy/common/pikaday-timepicker.js
app/packs/legacy/common/post-form-data.js
app/packs/legacy/common/request.js
app/packs/legacy/common/restful_resource.js
app/packs/legacy/common/sanitize-slug.js
app/packs/legacy/common/scroll_toggle_class.js
app/packs/legacy/common/search-data.js
app/packs/legacy/common/super-agent-frp.js
app/packs/legacy/common/super-agent-promise.js
app/packs/legacy/common/time-remaining.js
app/packs/legacy/common/utilities.js
app/packs/legacy/common/vendor/bootstrap-tour-standalone.js
app/packs/legacy/common/vendor/bootstrap.js
app/packs/legacy/common/vendor/Chart.min.js
app/packs/legacy/common/vendor/colpick.js
app/packs/legacy/common/vendor/jquery.cookie.js
app/packs/legacy/common/vendor/masonry.js
app/packs/legacy/components/activity_feed.js
app/packs/legacy/components/address-autocomplete-fields.js
app/packs/legacy/components/address-autocomplete.js
app/packs/legacy/components/ajax/toggle_soft_delete.js
app/packs/legacy/components/b64.js
app/packs/legacy/components/branded_fundraising.js
app/packs/legacy/components/chart-options.js
app/packs/legacy/components/checkbox.js
app/packs/legacy/components/confirmation-modal.js
app/packs/legacy/components/date_range_picker.js
app/packs/legacy/components/date-range.js
app/packs/legacy/components/dollar-input.js
app/packs/legacy/components/drag-to-reorder.js
app/packs/legacy/components/duplicate_fundraiser.js
app/packs/legacy/components/encode-plain-email.js
app/packs/legacy/components/field-with-error.js
app/packs/legacy/components/fundraising/add_header_image.js
app/packs/legacy/components/modal.js
app/packs/legacy/components/nonprofit-branding.js
app/packs/legacy/components/number-input.js
app/packs/legacy/components/progress-bar.js
app/packs/legacy/components/public-activities.js
app/packs/legacy/components/radio-and-label-wrapper.js
app/packs/legacy/components/radios.js
app/packs/legacy/components/render-activities.js
app/packs/legacy/components/saving_indicator.js
app/packs/legacy/components/search-table.js
app/packs/legacy/components/search.js
app/packs/legacy/components/select.js
app/packs/legacy/components/set-state-from-value.js
app/packs/legacy/components/state-selector.js
app/packs/legacy/components/styles/branded-wizard.js
app/packs/legacy/components/styles/render-styles.js
app/packs/legacy/components/supporter-fields.js
app/packs/legacy/components/tables/filtering/apply_filter.js
app/packs/legacy/components/text-input.js
app/packs/legacy/components/textarea.js
app/packs/legacy/components/todos.js
app/packs/legacy/components/top-nav.js
app/packs/legacy/components/wizard.js
app/packs/legacy/donations/create_offline.js
app/packs/legacy/donations/create.js
app/packs/legacy/events/discounts/index.js
app/packs/legacy/events/discounts/manage.js
app/packs/legacy/events/index/page.js
app/packs/legacy/events/listing-item/index.js
app/packs/legacy/events/listings/index.js
app/packs/legacy/events/new/wizard.js
app/packs/legacy/events/show/editor.js
app/packs/legacy/events/show/event_donation.js
app/packs/legacy/events/show/page.js
app/packs/legacy/events/show/tour.js
app/packs/legacy/events/stats/page.js
app/packs/legacy/gift_options/admin.js
app/packs/legacy/gift_options/index.js
app/packs/legacy/nonprofits/btn/page.js
app/packs/legacy/nonprofits/button/amounts.js
app/packs/legacy/nonprofits/button/appearance.js
app/packs/legacy/nonprofits/button/designations.js
app/packs/legacy/nonprofits/button/footer.js
app/packs/legacy/nonprofits/button/hide-dedication.js
app/packs/legacy/nonprofits/button/page.js
app/packs/legacy/nonprofits/button/preview.js
app/packs/legacy/nonprofits/button/thank-you.js
app/packs/legacy/nonprofits/button/type.js
app/packs/legacy/nonprofits/cards/edit/page.js
app/packs/legacy/nonprofits/dashboard/page.js
app/packs/legacy/nonprofits/dashboard/tour.js
app/packs/legacy/nonprofits/donate/amount-step.js
app/packs/legacy/nonprofits/donate/dedication-form.js
app/packs/legacy/nonprofits/donate/followup-step.js
app/packs/legacy/nonprofits/donate/get-params.js
app/packs/legacy/nonprofits/donate/info-step.js
app/packs/legacy/nonprofits/donate/page.js
app/packs/legacy/nonprofits/donate/payment-step.js
app/packs/legacy/nonprofits/donate/plugins-available/alwaysAnonymous.js
app/packs/legacy/nonprofits/donate/plugins-available/default-recurring.js
app/packs/legacy/nonprofits/donate/plugins-available/dummy.js
app/packs/legacy/nonprofits/donate/plugins-available/ibanonly.js
app/packs/legacy/nonprofits/donate/plugins-available/minamount.js
app/packs/legacy/nonprofits/donate/plugins-available/minimalForm.js
app/packs/legacy/nonprofits/donate/plugins-available/piwik.js
app/packs/legacy/nonprofits/donate/plugins-available/prefill-identity.js
app/packs/legacy/nonprofits/donate/plugins-available/prettify.js
app/packs/legacy/nonprofits/donate/plugins-available/select-amount.js
app/packs/legacy/nonprofits/donate/wizard.js
app/packs/legacy/nonprofits/edit/page.js
app/packs/legacy/nonprofits/payments_chart.js
app/packs/legacy/nonprofits/payments/index/page.js
app/packs/legacy/nonprofits/payments/index/payment_details.js
app/packs/legacy/nonprofits/payments/index/tour.js
app/packs/legacy/nonprofits/payouts/create.js
app/packs/legacy/nonprofits/payouts/index/page.js
app/packs/legacy/nonprofits/payouts/index/verify_identity.js
app/packs/legacy/nonprofits/recurring_donations/index/create.js
app/packs/legacy/nonprofits/recurring_donations/index/delete.js
app/packs/legacy/nonprofits/recurring_donations/index/page.js
app/packs/legacy/nonprofits/recurring_donations/index/tour.js
app/packs/legacy/nonprofits/recurring_donations/index/update.js
app/packs/legacy/nonprofits/recurring_donations/readable_interval.js
app/packs/legacy/nonprofits/reports/modal.js
app/packs/legacy/nonprofits/show/page.js
app/packs/legacy/nonprofits/show/tour.js
app/packs/legacy/nonprofits/supporter_form/page.js
app/packs/legacy/nonprofits/supporters/create.js
app/packs/legacy/nonprofits/supporters/get_name.js
app/packs/legacy/nonprofits/supporters/import/regex-header-matchers.js
app/packs/legacy/nonprofits/supporters/index/action_recipient.js
app/packs/legacy/nonprofits/supporters/index/bulk_delete.js
app/packs/legacy/nonprofits/supporters/index/import.js
app/packs/legacy/nonprofits/supporters/index/list_supporters.js
app/packs/legacy/nonprofits/supporters/index/manage_custom_fields.js
app/packs/legacy/nonprofits/supporters/index/manage_tags.js
app/packs/legacy/nonprofits/supporters/index/merge_supporters.js
app/packs/legacy/nonprofits/supporters/index/page.js
app/packs/legacy/nonprofits/supporters/index/sidepanel/generate-content.js
app/packs/legacy/nonprofits/supporters/index/sidepanel/index.js
app/packs/legacy/nonprofits/supporters/index/sidepanel/offsite-donation-form.js
app/packs/legacy/nonprofits/supporters/index/sidepanel/supporter-actions.js
app/packs/legacy/nonprofits/supporters/index/sidepanel/supporter-activities.js
app/packs/legacy/nonprofits/supporters/index/sidepanel/supporter-note-form.js
app/packs/legacy/nonprofits/supporters/index/supporter_details.js
app/packs/legacy/nonprofits/supporters/index/tags_and_fields_shared_methods.js
app/packs/legacy/nonprofits/supporters/index/timeline.js
app/packs/legacy/nonprofits/supporters/index/tour.js
app/packs/legacy/nonprofits/supporters/new/page.js
app/packs/legacy/page.js
app/packs/legacy/pages/show/index.js
app/packs/legacy/recurring_donations/edit/followup-step.js
app/packs/legacy/recurring_donations/edit/get-params.js
app/packs/legacy/recurring_donations/edit/page.js
app/packs/legacy/recurring_donations/index.js
app/packs/legacy/refunds/create.js
app/packs/legacy/settings/index/branding/index.js
app/packs/legacy/settings/index/branding/view.js
app/packs/legacy/settings/index/email-settings/index.js
app/packs/legacy/settings/index/email-settings/view.js
app/packs/legacy/settings/index/integrations/index.js
app/packs/legacy/settings/index/page.js
app/packs/legacy/stripe_wrapper/page.js
app/packs/legacy/super-admin/fullcontact-table.js
app/packs/legacy/super-admin/nonprofits-table.js
app/packs/legacy/super-admin/page.js
app/packs/legacy/super-admin/profiles-table.js
app/packs/legacy/supporters/index.js
app/packs/legacy/supporters/settings/mailchimp-integration-settings.js
app/packs/legacy/ticket_levels/get_totals.js
app/packs/legacy/ticket_levels/manage.js
app/packs/legacy/tickets/index/delete-ticket.js
app/packs/legacy/tickets/index/page.js
app/packs/legacy/tickets/new.js
app/packs/legacy/tickets/wizard.js
app/packs/legacy/widget/donate-button.v2.js
app/packs/packs/application.js
app/packs/packs/create_new_offsite_payment_pane.js
app/packs/packs/donate-button-v2.js
app/packs/packs/edit_payment_pane.js
app/packs/packs/i18n.js
app/packs/packs/page__bank_accounts__confirm.js
app/packs/packs/page__campaigns__index.js
app/packs/packs/page__campaigns__peer_to_peer.js
app/packs/packs/page__campaigns__show.js
app/packs/packs/page__campaigns__supporters__index.js
app/packs/packs/page__events__index.js
app/packs/packs/page__events__show.js
app/packs/packs/page__events__stats.js
app/packs/packs/page__nonprofits__btn.js
app/packs/packs/page__nonprofits__button.js
app/packs/packs/page__nonprofits__cards__edit.js
app/packs/packs/page__nonprofits__dashboard.js
app/packs/packs/page__nonprofits__donate.js
app/packs/packs/page__nonprofits__edit.js
app/packs/packs/page__nonprofits__payments__index.js
app/packs/packs/page__nonprofits__payouts__index.js
app/packs/packs/page__nonprofits__recurring_donations__index.js
app/packs/packs/page__nonprofits__show.js
app/packs/packs/page__nonprofits__supporter_form.js
app/packs/packs/page__nonprofits__supporters__index.js
app/packs/packs/page__nonprofits__supporters__new.js
app/packs/packs/page__profiles__donations_history.js
app/packs/packs/page__profiles__fundraisers.js
app/packs/packs/page__profiles__show.js
app/packs/packs/page__recurring_donations__edit.js
app/packs/packs/page__settings__index.js
app/packs/packs/page__stripe_wrapper.js
app/packs/packs/page__super-admin.js
app/packs/packs/page__tickets__index.js
app/packs/packs/server_rendering.js
babel.config.js
config/webpack/development.js
config/webpack/environment.js
config/webpack/loaders/erb.js
config/webpack/production.js
config/webpack/test.js
lib/templates/rails/assets/javascript.js
postcss.config.js
setupTests.js

# old es files
app/packs/legacy/bank_accounts/confirm/index.es6
app/packs/legacy/bank_accounts/create.es6
app/packs/legacy/campaigns/supporters/index/index.es6
app/packs/legacy/campaigns/supporters/index/meta.es6
app/packs/legacy/campaigns/supporters/index/metrics.es6
app/packs/legacy/campaigns/supporters/index/supporter-list.es6
app/packs/legacy/campaigns/supporters/index/supporter-table.es6
app/packs/legacy/cards/create-frp.es6
app/packs/legacy/common/direct-to-s3-upload.es6
app/packs/legacy/common/editor/froala.es6
app/packs/legacy/common/editor/quill.es6
app/packs/legacy/common/ff-form-validation/index.es6
app/packs/legacy/common/ff-form-validation/lib/currency-regex.es6
app/packs/legacy/common/ff-form-validation/lib/email-regex.es6
app/packs/legacy/common/ff-form-validation/lib/readable-prop.es6
app/packs/legacy/common/post-form-data.es6
app/packs/legacy/components/card-form.es6
app/packs/legacy/components/color-picker.es6
app/packs/legacy/components/sepa-form.es6
app/packs/legacy/components/show-more-button.es6
app/packs/legacy/components/supporter-address-form.es6
app/packs/legacy/components/tables/search.es6
app/packs/legacy/nonprofits/cards/edit/index.es6
app/packs/legacy/nonprofits/payouts/index/identity-verification-form.es6
app/packs/legacy/nonprofits/recurring_donations/index/index.es6
app/packs/legacy/nonprofits/supporter_form/index.es6
app/packs/legacy/nonprofits/supporters/import/index.es6
app/packs/legacy/recurring_donations/edit/amount-step.es6
app/packs/legacy/recurring_donations/edit/branded-wizard.es6
app/packs/legacy/recurring_donations/edit/card-form.es6
app/packs/legacy/recurring_donations/edit/change-amount-wizard.es6
app/packs/legacy/recurring_donations/edit/custom-nonprofit-branding.es6
app/packs/legacy/recurring_donations/edit/index.es6
app/packs/legacy/recurring_donations/edit/payment-step.es6
app/packs/legacy/stripe_wrapper/index.es6
app/packs/legacy/supporters/info-card.es6

# jsx files
app/packs/stories/index.jsx

# tsx files
app/packs/components/RegistrationPage.tsx
app/packs/legacy_react/app/create_new_offsite_payment_pane.tsx
app/packs/legacy_react/app/edit_payment_pane.tsx
app/packs/legacy_react/javascripts/app/create_new_offsite_payment_pane.tsx
app/packs/legacy_react/javascripts/app/edit_payment_pane.tsx
app/packs/legacy_react/javascripts/app/registration_page.tsx
app/packs/legacy_react/src/components/common/BootstrapWrapper.tsx
app/packs/legacy_react/src/components/common/DefaultCloseButton.tsx
app/packs/legacy_react/src/components/common/fields.tsx
app/packs/legacy_react/src/components/common/form/ReactForm.tsx
app/packs/legacy_react/src/components/common/form/ReactInput.spec.tsx
app/packs/legacy_react/src/components/common/form/ReactInput.tsx
app/packs/legacy_react/src/components/common/form/ReactMaskedInput.tsx
app/packs/legacy_react/src/components/common/form/ReactSelect.spec.tsx
app/packs/legacy_react/src/components/common/form/ReactSelect.tsx
app/packs/legacy_react/src/components/common/form/ReactTextarea.spec.tsx
app/packs/legacy_react/src/components/common/form/ReactTextarea.tsx
app/packs/legacy_react/src/components/common/LabeledFieldComponent.spec.tsx
app/packs/legacy_react/src/components/common/LabeledFieldComponent.tsx
app/packs/legacy_react/src/components/common/layout.spec.tsx
app/packs/legacy_react/src/components/common/layout.tsx
app/packs/legacy_react/src/components/common/Modal.spec.tsx
app/packs/legacy_react/src/components/common/Modal.tsx
app/packs/legacy_react/src/components/common/ProgressableButton.spec.tsx
app/packs/legacy_react/src/components/common/ProgressableButton.tsx
app/packs/legacy_react/src/components/common/Root.tsx
app/packs/legacy_react/src/components/common/selectable_table_row/connect.tsx
app/packs/legacy_react/src/components/common/selectable_table_row/SelectableTableRow.spec.tsx
app/packs/legacy_react/src/components/common/selectable_table_row/SelectableTableRow.tsx
app/packs/legacy_react/src/components/common/Spinner.spec.tsx
app/packs/legacy_react/src/components/common/Spinner.tsx
app/packs/legacy_react/src/components/common/StandardFieldComponent.spec.tsx
app/packs/legacy_react/src/components/common/StandardFieldComponent.tsx
app/packs/legacy_react/src/components/common/svg/checkbox.tsx
app/packs/legacy_react/src/components/common/svg/CloseButton.tsx
app/packs/legacy_react/src/components/common/test/react_test_helpers.tsx
app/packs/legacy_react/src/components/common/wizard/abstract_wizard_state.spec.tsx
app/packs/legacy_react/src/components/common/wizard/RAT/abstract_tabcomponent_state.spec.tsx
app/packs/legacy_react/src/components/common/wizard/RAT/Wrapper.spec.tsx
app/packs/legacy_react/src/components/common/wizard/Wizard.spec.tsx
app/packs/legacy_react/src/components/common/wizard/Wizard.tsx
app/packs/legacy_react/src/components/common/wizard/WizardPanel.spec.tsx
app/packs/legacy_react/src/components/common/wizard/WizardPanel.tsx
app/packs/legacy_react/src/components/common/wizard/WizardTab.spec.tsx
app/packs/legacy_react/src/components/common/wizard/WizardTab.tsx
app/packs/legacy_react/src/components/common/wizard/WizardTabList.tsx
app/packs/legacy_react/src/components/create_offsite_payment_pane/CreateOffsitePaymentPane.tsx
app/packs/legacy_react/src/components/edit_payment_pane/EditPaymentPane.tsx
app/packs/legacy_react/src/components/registration_page/NonprofitInfoForm.spec.tsx
app/packs/legacy_react/src/components/registration_page/NonprofitInfoForm.tsx
app/packs/legacy_react/src/components/registration_page/NonprofitInfoPanel.spec.tsx
app/packs/legacy_react/src/components/registration_page/NonprofitInfoPanel.tsx
app/packs/legacy_react/src/components/registration_page/RegistrationPage.tsx
app/packs/legacy_react/src/components/registration_page/RegistrationWizard.tsx
app/packs/legacy_react/src/components/registration_page/UserInfoForm.tsx
app/packs/legacy_react/src/components/registration_page/UserInfoPanel.spec.tsx
app/packs/legacy_react/src/components/registration_page/UserInfoPanel.tsx
app/packs/legacy_react/src/components/session_login_page/SessionLoginForm.tsx
app/packs/legacy_react/src/components/session_login_page/SessionLoginPage.tsx

#included code from another package
app/packs/common/lodash-joins

#javascript locales
app/packs/i18n/locales
# don't check any js in the installed gems on build server
vendor/bundle
