**/*.swp
latest.dump
node_modules
npm-debug.log
public/**/*
client/js/nonprofits/donate/plugins-enabled


.DS_Store
/postgres-data

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
log/
tmp/

# Zeus
zeus.json
.zeus.sock
custom_plan.rb

# simplecov
/coverage

# Ignore VCR cassettes
spec/fixtures/vcr_cassettes

#dev files
.env
.idea/
.vscode
.byebug_history

# Jasmine specs build file
spec/javascripts/bundle.js

# Settings files
config/settings.json
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

#local bins we use for builds
.bin

# thing we want to keep in public
!public/*.html
!public/maintenance.html
!public/favicon.ico
!public/js/donate-button.js
!public/images
!public/images/fallback
!public/images/fallback/*
!public/fallback
!public/fallback/*
!public/css
!public/css/donate-button.css
!public/css/donate-button.v2.css
!public/svgs
!public/svgs/*

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# we don't want the file storage directory to be committed
storage