sudo: required

language: minimal

services:
- docker

before_install:
- docker-compose -f docker/build/docker-compose.yml build
- cp .env.template .env

script:
- docker-compose -f docker/build/docker-compose.yml run -e RACK_ENV=ci -e RAILS_ENV=ci -e BUILD_DATABASE_URL=postgres://admin:password@db/commitchange_test build script/test.sh
