.card{
    Width: 20%;
    padding: 20px;
    margin: auto;
    transition: 0.3s;
    text-align: center;
    box-shadow: 0 8px 40px -12px rgba(0,0,0,0.3);
}
.icon{ 
    transform: scale(.7);
}
.container{  
    text-align: center;  
}  
.media {
    height: 100px;
    padding-top: '56.25%';
    size: 200px;
}