@import 'mixins';
@import 'pikaday';
@import 'components/page_tabs';
@import 'components/nonprofit_bank_accounts';
@import 'components/todos';
@import 'components/identity_verification';

.payout-history .succeeded {
	color: $bluegrass;
}
.payout-history .failed {
	color: $red;
}
.payout-history .pending {
	color: $oj;
}

