/* License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later */
@import 'mixins';
@import 'pikaday';
@import 'components/page_tabs';
@import 'components/nonprofit_bank_accounts';
@import 'components/todos';

.payout-history .succeeded {
	color: $bluegrass;
}
.payout-history .failed {
	color: $red;
}
.payout-history .pending {
	color: $oj;
}

