<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<p>A refund was made successfully for your payment to <%= @nonprofit.name %>.</p><br.sort>
<br>

<%= render 'user_mailer/refund_receipt', charge: @charge, refund: @refund %>

<%= render 'emails/nonprofit_sig', nonprofit: @nonprofit %>

