<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<p>Hi <%= @user.profile.name %>,</p><br>

<p>Thanks for signing up on <a href='https://commitchange.com'></a><%= Houdini.general.name %></a>! Your profile is all set up, and you're ready to start fundraising.</p><br>

<p>You can sign in to your account <a href='<%= new_user_session_url %>'>here.</a></p><br>

<%= render 'emails/sig' %>
