<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<% years = (2000..Time.new.year).to_a.reverse %>

<section class='filterPanel-section'>
	<fieldset>
    <select class='select'>
      <!--= on 'change' (apply_input_filter 'year' get_value) -->
      <option value='' selected></option>
      <% years.each do |y|%>
        <option value='<%= y %>'>
          <%= y %>
        </option>
      <% end %>
    </select>

	</fieldset>
</section>
