<section class='filterPanel-section layout--two' id='dateRange'>
	<fieldset>
		<label><small>after</small></label>
		<div class='u-relative'>
			<input id='afterDate' type='text' name='after_date'>
				<!--= on 'change' (apply_input_filter 'after_date' get_value) -->
			<i class='fa fa-times clear-input'></i>
		</div>
	</fieldset>

	<fieldset>
		<label><small>before</small></label>
		<div class='u-relative'>
			<input id='beforeDate' type='text' name='before_date'>
				<!--= on 'change' (apply_input_filter 'before_date' get_value) -->
			<i class='fa fa-times clear-input'></i>
		</div>
	</fieldset>
</section>
