<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<section class='filterPanel-section layout--two' id='dateRange'>
	<fieldset>
		<label><small>at least</small></label>
		<div class='u-relative prepend--dollar'>
			<input id='afterDate' type='text' name='amount_greater_than'>
				<!--= on 'change' (apply_input_filter 'amount_greater_than' get_value) -->
			<i class='fa fa-times clear-input'></i>
		</div>
	</fieldset>

	<fieldset>
		<label><small>less than</small></label>
		<div class='u-relative prepend--dollar'>
			<input id='beforeDate' type='text' name='amount_less_than'>
				<!--= on 'change' (apply_input_filter 'amount_less_than' get_value) -->
			<i class='fa fa-times clear-input'></i>
		</div>
	</fieldset>
</section>
