<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<!-- partial start components/_filter_panel_close -->
<a class='button--closeFilterPanel' title='Close'>
	<!--= on 'click' close_filter_panel -->
	<i class='fa fa-times'></i>
</a>
<!-- partial end components/_filter_panel_close -->
