<!-- partial: components/filter_onetime_recurring -->
<form>
	<fieldset class='u-marginBottom--0'>
		<input type='checkbox' name='recurring' id='radio-recurring'>
			<!--= on 'change' apply_checkbox_filter -->
		<label class='u-color--seaFoam' for='radio-recurring'><strong>Recurring Donor?</strong></label>
	</fieldset>
</form>
<!-- partial end: components/filter_onetime_recurring -->
