<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% content_for :javascripts do %>
	<script>
		app.bankAccount = <%= raw @bank_account.to_json %>
		app.bankAccount.nonprofit = {
			name: '<%= @nonprofit.name %>',
			id: <%= @nonprofit.id %>
		}
	</script>

	<%= javascript_packs_with_chunks_tag 'i18n', 'page__bank_accounts__confirm' %>
<% end %>

<div class='backgroundColor'>
</div>

<div class='container u-bg--white u-marginTop--50 u-padding--30 js-view-confirm'>

</div>
