<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<div class='modal' id='exportPaymentsS3Modal'>

	<%= render 'common/modal_header', title: 'Export Payments' %>

	<div class='modal-body'>
		<!--= scope 'payments' -->
		<p>Download a CSV report of payments received, which can be opened with any spreadsheet application, such as Excel or Google Sheets.</p>

		<div id='export-queries'>

			<p>
				<!--= show_if this.query.search -->
				Searching by: "<strong><!--= put this.query.search --></strong>"
			</p>

			<p>
				<!--= show_if this.query.donation_type -->
        Filtering only: <strong><!--= put this.query.donation_type --></strong>
			</p>

			<p>
				<!--= show_if this.query.sort_date -->
				Sorting by: <strong>Date</strong>
			</p>

			<p>
				<!--= show_if this.query.sort_amount -->
				Sorting by: <strong>Amount</strong>
			</p>

			<p>
				<!--= show_if this.query.sort_name -->
				Sorting by: <strong>Name</strong>
			</p>

			<p>
				<!--= show_if this.query.sort_type -->
				Sorting by: <strong>Type</strong>
			</p>

			<p>
				<!--= show_if this.query.sort_towards -->
				Sorting by: <strong>Towards</strong>
			</p>

			<p>
				<!--= show_if this.query.before_date -->
				Before: <strong> <!--= put this.query.before_date --></strong>
			</p>

			<p>
				<!--= show_if this.query.after_date -->
				After: <strong> <!--= put this.query.after_date --> </strong>
			</p>

			<p>
			<!--= show_if this.query.amount_greater_than -->
				Amount at least: $<!--= put this.query.amount_greater_than -->
			</p>

			<p>
				<!--= show_if this.query.amount_less_than -->
				Amount less than: $<!--= put this.query.amount_less_than -->
			</p>

      <p>
        <!--= show_if this.query.event_id -->
        Filtering by event
      </p>

			<% if @nonprofit.export_formats.present? %>
				<div>
					<label for='export_format_select'>Select a CSV format</label>
					<select id='export_format_select' name='export_format_id'>
						<%= options_for_select(
							[['CommitChange default format', '']].concat(
									@nonprofit.export_formats.map {|export_format| [export_format.name, export_format.id]}
								)
						) %>

					</select>
					<!--= on 'change' apply_select_filter -->
				</div>
			<% end %>
		</div>

		<hr>

    <form autosubmit method="POST" data-success-message="Your export was successfully initiated and you'll be emailed as soon as it's available. Feel free to use the site in the meantime." data-reload>
      <!--= set_attr 'action' (cat '/nonprofits/<%= @nonprofit.id %>/payments/export.json' (obj_to_url_params this.query)) -->
      <div class='u-centered'>
        <p class='error'></p>
        <button id='csv-export-button' class='button--small' type='submit' data-loading='Initiating Download'><i class='fa fa-cloud-download'></i> Download as CSV</button>
      </div>
    </form>
	</div>
</div>
