<% content_for(:title) { 'Stripe Verification' } %>
<% content_for :javascripts do %>
  <%= IncludeAsset.js '/app/stripe_account_verificationx.js' %>
<% end %>

<div id="outlet"></div>

<script>LoadReactPage(
  document.getElementById('outlet'), 
  <%= @current_nonprofit.id -%>, 
  '<%= dashboard_nonprofit_url @current_nonprofit  -%>' 
  )</script>