<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<div id='reset-unlock' class='u-maxWidth--600 u-margin--auto u-marginTop--50 u-padding--15 u-centered'>

	<div class='container-header'>
		<h3>Your Account Has Been Locked</h3>
    <p>To protect your nonprofit's privacy and data, your account has been locked due to an excessive amount of 
		unsuccessful sign in attempts. You will not be able to sign in again until you unlock your account. 
		You should have received an email to unlock your account; if you do not see it, please enter your email address
		and click the button below to resend the email.</p>
	</div>

	<div class='u-padding--15'>
		<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
			<p><%= devise_error_messages! %></p>
      <%= f.email_field :email, placeholder: "Email", class_name: "input--200", size: 30, required: true%>
			<br>
			
			<button class="button--small" name="commit" data-loading='Sending...' type="submit">Resend unlock instructions</button>
		<% end %>
	</div>
</div>