/* License: LGPL-3.0-or-later */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  src: local('/fonts/material/MaterialIcons-Regular'),
       url('/fonts/material/MaterialIcons-Regular.woff2') format('woff2'),
       url('/fonts/material/MaterialIcons-Regular.woff') format('woff'),
       url('/fonts/material/MaterialIcons-Regular.ttf') format('truetype');
}

.m-icon {
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* reference: https://material.io/icons/ */
.m-icon { 
  font-family: 'Material Icons';
  vertical-align: middle;
}
