<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<form autosubmit action='<%= session_path :user %>' method='post' data-reload class='login-form'>
	<p class='reloadMessage'>You're now signed in!</p>
	<label>Email</label>
	<input type='email' name='user[email]' placeholder='Email' required>
	<label>Password</label>
	<input type='password' name='user[password]' placeholder='Password' required>
	<p class='error'></p>
	<button class='button' type='submit' data-loading='Logging in...'>Login</button>
</form>

