<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<form autosubmit action='<%= session_path :user %>' method='post' data-reload class='login-form'>
	<input type='email' name='user[email]' placeholder='Email' required>
	<input type='password' name='user[password]' placeholder='Password' required>
  <div class='u-centered'>
    <p class='error'></p>
	   <button class='button--small' type='submit' data-loading='Logging in...'>Login</button>
  </div>
</form>
