<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<label>Your Name</label>
<input type='text' name='profile_attributes.name' placeholder='Name' class='u-marginTop--0' required>

<label>Your Email Address</label>
<input type='email' name='email' placeholder='Email' required>
<!--= set_value prospect_email -->

<label>Password</label>
<input type='password' required
	id='new-user-password-input'
	name='password'
  placeholder='New Password'>

<label>Confirm Password</label>
<input type='password' required
	name='password_confirmation'
	placeholder='Confirm Password'>
