<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<div id='reset-pass' class='u-maxWidth--600 u-margin--auto u-marginTop--50 u-padding--15 u-centered'>

	<div class='container-header'>
		<h3>Reset your password</h3>
	</div>

	<div class='u-padding--15'>
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			<p><%= devise_error_messages! %></p>
			<input id="user_email" name="user[email]" placeholder="Email" class='input--200' size="30" type="email" required>
			<br>
			
			<button class="button--small" name="commit" data-loading='Sending...' type="submit">Send Instructions</button>
		<% end %>
	</div>
</div>

