<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<%= content_for :javascripts do %>
	<script>
		app.pageLoadData = <%= raw @data.to_json %>
	</script>
	<%= javascript_packs_with_chunks_tag 'i18n', 'page__recurring_donations__edit' %>
<% end %>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'recurring_donations/edit/page' %>
<% end %>

<div id='js-main'></div>
