<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<%= content_for :javascripts do %>
	<script>
		app.pageLoadData = <%= raw @data.to_json %>
	</script>
	<%= javascript_pack_tag 'i18n', 'page__recurring_donations__edit' %>
<% end %>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'recurring_donations/edit/page' %>
<% end %>

<div id='js-main'></div>
