<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<h1><%= class_name %>#<%= @action %></h1>
<p>Find me in <%= @path %></p>
