<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- partial nonprofits/dashboard/event_listing -->

<section class='u-marginBottom--15'>

	<div class='pastelBox--yellow'>
		<header><i class='fa fa-ticket'><%= t('nonprofits.dashboard.event_listing.header') %></i></header>
    <div id='js-eventsListing'></div>
		<footer class='u-padding--15'>
			<button class='button--large orange' open-modal='newEvent' data-when-confirmed>
				<%= t('nonprofits.dashboard.event_listing.new_event') %>
			</button>
		</footer>
	</div>
</section>
<!-- end partial nonprofits/dashboard/event_listing -->
