<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<section class='pastelBox--blue u-marginbottom--15'>
  <header><i class='fa fa-table'></i> <%= t('nonprofits.dashboard.reports.header') %></header>

  <div class='pastelBox-body'>
    <table class='table'>
      <tr>
        <td>
          <a><%= t('nonprofits.dashboard.reports.end_of_year_report') %></a> <!--= on 'click' (open_modal 'endOfYearReportModal') -->
        </td>
      </tr>
    </table>
  </div>
</section>

