<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<section class='pastelBox--blue u-marginbottom--15'>
  <header><i class='fa fa-table'></i> Reports</header>

  <div class='pastelBox-body'>
    <table class='table'>
      <tr>
        <td>
          <a>End-of-year donor report</a> <!--= on 'click' (open_modal 'endOfYearReportModal') -->
        </td>
      </tr>
    </table>
  </div>
</section>

