<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- partial nonprofits/dashboard/donation_listing -->

<section class='sidebar-listing'>
  <!--= scope 'metrics.data.recent_supporters' -->

	<div class='pastelBox--orange'>
		<header><i class='fa fa-users'></i> <%= t('nonprofits.dashboard.supporter_listing.header') %></header>

		<div class='pastelBox-body'>
			<p class='noResults'>
				<!--= show_if (all (empty this) (not loading)) -->
				<%= t('common.none_yet') %>
			</p>

			<table class='table'>
				<tr>
					<!--= repeat this -->
					<td class='u-paddingX--0'>
						<a>
							<!--= set_attr 'data-id' this.id -->
							<!--= on 'click' show_supporter_info_card -->
							<!--= put (any this.name this.email (cat 'Supporter ' this.id)) -->
						</a>
					</td>
          <td class='u-color--grey'><small><!--= put (readable_date this.created_at) --><small></td>
				</tr>
			</table>
			<div class='u-centered'>
				<a class='button details strong' href='<%= nonprofits_supporters_path(@nonprofit) %>'>
					<%= t('ui.view_all') %>
				</a>
			</div>
		</div>
	</div>
</section>

<!-- end partial nonprofits/dashboard/recent_listing -->
