<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<div class='wizard-step info-step u-padding--10'>
	<!--= wizard.set_step 'donate_wiz' 'Info' -->

	<form>
		<!--= on 'submit' (donate_wiz.save_supporter form_object) -->
		<%= render 'supporters/fields', required: {email: true}, profile: current_user ? current_user.profile : nil %>

		<div class='u-centered u-marginTop--10'>
			<p class='error'>
				<!--= show_if info_step_error -->
				<!--= put info_step_error -->
			</p>
			<button type='submit' class='button'>
				<%= t('ui.next') %>
			</button>
		</div>

	</form>

</div>
