/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
#ticket-modal, #free-ticket-modal {
	min-height: 400px;

	.step {
		text-align: center;
		padding: 20px;
	}

	.info-step form button {
		margin-top: 20px;
	}
}
