<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- partial start: events/header_content -->
<table>
	<tr>
		<td class='fundraisingHeader-content-textTd'>
			<h1 class='fundraisingHeader-content-title'><%= @event.name %></h1>
			<% if @event.tagline.present? %>
			<h3 class='fundraisingHeader-content-sub'><%= @event.tagline %></h3>
			<% end %>
		</td>
	</tr>
</table>
<!-- partial end: events/header_content -->
