<!-- partial: events/organizer -->
<aside class='paddedBox--y'>
	<a open-modal='contactOrganizer' if-branded='background-color, dark' data-when-confirmed class='button u-width--full'>
			Contact Organizer
	</a>
</aside>
<!-- end partial: events/organizer -->
