<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<!-- partial: events/organizer -->
<aside class='paddedBox--y'>
	<a open-modal='contactOrganizer' if-branded='background-color, dark' data-when-confirmed class='button u-width--full'>
			Contact Organizer
	</a>
</aside>
<!-- end partial: events/organizer -->
