<!-- partial: events/_settings_modal -->
<div class='modal fullScreen' id='eventSettingsModal'>
	<%= render 'common/modal_header', title: 'Event Settings' %>
	<%= render 'edit_form' %>
</div>
<!-- partial end: events/_settings_modal -->
