<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<!-- partial: events/_settings_modal -->
<div class='modal fullScreen' id='eventSettingsModal'>
	<%= render 'common/modal_header', title: 'Event Settings' %>
	<%= render 'edit_form' %>
</div>
<!-- partial end: events/_settings_modal -->
