<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<p>Dear <%= @nonprofit.name %>,</p>

<p>Congrats, our payment processor successfully marked you as verified!</p>

<% if @nonprofit.bank_account && !@nonprofit.bank_account.pending_verification %>
  <p>Now that you have both your bank account and identity verification 
  taken care of, you can withdraw your available balance of payments at 
  any time. <%= link_to("Visit your payout page to learn more.", nonprofits_payouts_url(@nonprofit))%></p>
<% else %>
  <p>Be sure to connect and verify your bank account so that you can withdraw your available balance
   of donations in the future. <%= link_to("Visit your payout page to learn more.", nonprofits_payouts_url(@nonprofit))%></p>
<% end %>

<% if @nonprofit.stripe_account.verification_status == :temporarily_verified %>
<p>Stripe may ask you to complete additional verification in the future. We'll 
contact you if that happens and ensure it's as quick and easy as possible to complete.</p>
<% end %>
<%= render 'emails/sig' %>
