<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<header class='pane-header'>
  <h3>Customize Email Content</h3>
</header>
<div class='pane-inner'>
  <div class='pastelBox--yellow u-padding--10 u-marginBottom--20'>
    <p>You can add a custom thank-you note that gets added to the top of all donation email receipts, as well as a message to supporters when they have a card failure on a recurring donation.</p>
    <p>Additionally, you can add custom receipts for specific events and campaigns from the header of any campaign or event.</p>
  </div>
  <button class='button--small edit u-block u-marginBottom--20'>
    <!--= on 'click' (open_modal 'customThankYouModal') -->
    <i class='fa fa-pencil'></i> Edit donation thank-you note
  </button>
  <button class='button--small edit u-block'>
    <!--= on 'click' (open_modal 'cardFailureModal') -->
    <i class='fa fa-pencil'></i> Edit recurring donation card failure message 
  </button>

  <button class='button--small edit u-block'>
    <!--= on 'click' (open_modal 'changeAmountModal') -->
    <i class='fa fa-pencil'></i> Edit change recurring donation amount message
  </button>
</div>

