<!-- settings/miscellaneous -->

<% is_donate_again_set = !@miscellaneous_np_info.nil? && !@miscellaneous_np_info.donate_again_url.nil? && !@miscellaneous_np_info.donate_again_url.empty? %>
<header class='pane-header'>
  <h3>Miscellaneous Settings (beta)</h3>
</header>

<div class='pane-inner'>
  <p class='pastelBox--yellow u-padding--10 u-marginBottom--30'>
    Our Recurring Donation Management Form includes a link from which donors can make a one-time additional donation. By default, this link goes to
    your nonprofit's page on <%= Settings.general.name %> (<small><strong><%= url_for(:controller => 'nonprofits', :action => :show, :id=> @nonprofit.id, :only_path => false ) %></strong></small>).
    Alternatively, you can link to a page on your website.
  </p>

  <form autosubmit class='u-marginBottom--10' data-reload method='put' action='/nonprofits/<%= @nonprofit.id %>/miscellaneous_np_info.json'>
    <fieldset>
      <label for="donate_again_url_field">Donate Again URL (leave empty for default)</label><input value="<%= @miscellaneous_np_info.donate_again_url %>" name="miscellaneous_np_info[donate_again_url]" id="donate_again_url_field"></input>
    </fieldset>


    <div class='u-marginTop--15'>
      <p class='error'></p>
      <button type='submit' class='button u-marginTop--10' data-loading='Saving...'>
        Save</button>
    </div>
  </form>


</div>
