<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- settings/_pricing -->

<header class='pane-header'>
	<h3>Pricing Plan</h3>
</header>

<div class='pane-inner'>
	<p><strong>Tier:
    <%= @nonprofit.billing_plan.name %>
    (
    <%= @nonprofit.billing_plan.percentage_fee > 0 ? ', ' + (@nonprofit.billing_plan.percentage_fee * 100).round(2).to_s + '%' : '' %>
    )
  </strong><br>
    <em><small>Our processor (Stripe) assesses an additional fees.</small></em></p>

	<p class='note u-marginTop--10'>If you have any questions about your current plan, please contact <a href='mailto:<%= Houdini.hoster.support_email %>'><%= Houdini.hoster.support_email %></a></p>
</div>


