<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<p>Dear admin,</p>

<p>The following donation was tried to be associated with a campaign gift option. You SHOULD refund the donation
  as there are no other gifts available:</p>

<%= render 'donation_mailer/donation_payment_table', donation: @donation, payment: @payment %>

<p> The associated gift was for:</p>
<table>
  <tr>
    <td>Name:</td>
    <td><%=@campaign_gift_option.name%></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%=@campaign_gift_option.description.nil? ? '' : @campaign_gift_option.description%></td>
  </tr>
  <tr>
    <td>Id:</td>
    <td><%=@campaign_gift_option.id%></td>
  </tr>

</table>