<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<table class='table'>

	<tbody>
		<tr>
			<td><strong>Dispute Reversal Amount</strong></td>
			<td> <%= print_currency(payment.gross_amount, payment.nonprofit.currency_symbol) %></td>
		</tr>
		<tr>
			<td><strong>Dispute Reversal Date</strong></td>
			<td><%= date_and_time(payment.date, payment.nonprofit_timezone) %></td>
		</tr>

		<tr>
			<td><strong>Dispute Reversal Payment ID</strong></td>
			<td><%= payment.id %></td>
		</tr>

	</tbody>

</table>
