/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import 'mixins';
@import 'components/timeline';
@import 'components/type_ahead';
@import 'components/simple_tabs';
@import 'pikaday';
@import 'common/image_uploader';
@import '../common';

body {
	padding: 0;
	background: $fog;
}


main {
	display: block;
	padding: 60px 0 50px 0;
}
 .photoTiles {
   min-height: 50px;
   margin-bottom: 5px;
   @include opacity(0.95);
 }
 .photoTiles > * {
   width: 14.28571428%;
   float: left;
   border: 2px solid $fog;
 }
.photoTiles img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .photoTiles > * {
    width: 20%;
    &:nth-of-type(7),
    &:nth-of-type(8) {
      display: none;
    }
  }
}
