<%# app/views/errors/unprocessable.html.erb %>

<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>

<head>
  <link rel="icon" href="/app/assets/images/favicon.ico/"/>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@5.0.0">
  <title>Houdini Project - 422</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <main>
    <div>
      <a title='Back to homepage' href='/'>
        <%= image_tag '/app/assets/images/logos/houdini-logo', alt:"Houdini logo" %>
      </a>
      <h4>Oops... that request can't be processed.</h4>
    </div>
  </main>
</body>

<style>
* {
  box-sizing: border-box;
}
body {
  color: #0176f5;
  font-family: 
    -apple-system,
    BlinkMacSystemFont, 
    Segoe UI,
    Helvetica Neue,
    Helvetica,
    OpenSans,
    sans-serif;
}
main {
  height: 100%;
  padding: 16px; 
  position: relative;
}
div {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
</style>
