/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import './mixins.css.scss';

button[toggle='remove'] {
	@include transform(translateY(3px));
  margin-right: 5px;
}

.customField-remove {
	position: absolute;
	bottom: 4px;
	font-size: 14px;
	@include ellipsis;
	max-width: 95%;
}

.layout--two--repeat > *:nth-of-type(2n -1) .customField-remove {
	left: 12px;
}

.layout--two--repeat > *:nth-of-type(2n) .customField-remove {
	left: 7px;
}