<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<!-- partial start: nonprofits/supporters/_create_or_update_email_draft_modal -->
<div class='modal wide' id='createOrUpdateEmailDraftModal'>
	<!--= scope 'emails.drafts' -->
	
	<header class='modal-header'>
		<h4 class='modal-header-title'><!--= put this.current.header_text --></h4>
		<%= render 'common/modal_close' %>
	</header>

	<div class='modal-body'>
		<form>
			<fieldset class='group'>
				<label class='u-marginBottom--5'>Subject</label>
				<input class='input--300' type='text' name='subject'>
				<!--= set_value this.current.name -->
			</fieldset>

			<div class='editable' required></div>

			<div class='u-centered u-marginTop--15'>
				<button  class='button'>
					<!--= set_attr_if this.loading 'disabled' '' -->
					<!--= on 'click' (this.save) -->
					<span><!--= hide_if this.loading --> Save Draft </span>
					<span><!--= show_if this.loading -->Saving...</span>
				</button>
			</div>
		</form>
	</div>
	<footer class='modal-footer'>
		<a open-modal='manageEmailDraftsModal'>
			View All Drafts
		</a>
	</footer>
</div>
<!-- partial end: nonprofits/supporters/_create_or_update_email_draft_modal -->
