<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<div class='modal' id='editBulkCustomFieldsModal'>

	<header class='modal-header'>
		<h4 class='modal-title'>
			Edit Custom Fields for <!--= put custom_fields.bulk.action_recipient -->
		</h4>
		<%= render 'common/modal_close' %>
	</header>

	<div class='modal-body'>
		<form>
			<!--= show_if (length custom_fields.masters.data) -->
			<!--= on 'submit' (custom_fields.bulk.prepare_to_post form_object) -->
			<!--= scope 'custom_fields.masters.data' -->
			<%= render 'custom_fields_inputs', bulk: true %>
			<%= render 'components/forms/submit_button' %>
		</form>
		<p class='noResults'>
			It looks like you haven't created any custom fields yet.  Click the link below to add some custom fields.
			<!--= hide_if (length custom_fields.masters.data) -->
		</p>
	</div>
	<footer class='u-centered modal-footer'>
		<a>Manage Custom Fields</a>
		<!--= on 'click' (open_modal 'manageFieldMasterModal') -->
	</footer>
</div>