<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!-- start partial nonprofits/supporters/_email_modal -->

<div class='modal wide emailModal' id='emailModal'>
	<!--= scope 'emails.new.data' -->
	<header class='modal-header'>
		<h4 class='modal-header-title'>Send Email to
			<!--= put this.action_recipient -->
		</h4>

		<%= render 'common/modal_close' %>
	</header>

	<div class='modal-body'>
		<form>
			<section class='group u-marginBottom--10'>
				<label class='col-1 u-marginTop--5'>To </label>

				<div class='col-right-11 u-paddingLeft--10'>
					<span class='bulkActionSubject u-marginRight--5'>
						<!--= repeat emails.new.data.selected_with_limit -->
						<!--= if (this.email) (put this.email) -->
					</span>
					<span class='bulkActionSubject--remaining'>
						<!--= show_if this.remaining_count -->
						And <!--= put this.remaining_count --> more...
					</span>
				</div>
			</section>

			<section class='group u-marginBottom--10'>
				<label class='col-1 u-marginTop--5'>From </label>
				<div class='col-right-11 u-paddingLeft--10'>
					<input type='text' name='from' value="<%= @nonprofit.email || current_user.email%>" required>
				</div>
			</section>

			<section class='group'>
				<div title='Subject'>
					<!--= add_class_if (length emails.drafts.data) 'col-8' -->
					<input type='text' class='u-marginBottom--0' name='subject' required placeholder='Subject'>
				</div>
				<div class='col-right-4 u-paddingLeft--10' title='Draft'>
				<!--= show_if (length emails.drafts.data) -->
					<%= render 'components/drop_down',
						label: 'Use an existing draft',
						scope: 'emails.drafts',
						click_event: 'emails.drafts.select_drop_down this.id',
						extra_option: "Clear selection",
						extra_option_click_event: 'emails.drafts.clear_drop_down' %>
				</div>
			</section>

      <p class='u-marginTop--10'><%= render 'components/messages/html_email_disclaimer' %></p>

			<div class='editable editable--email u-marginTop--15' required></div>

			<div class='u-centered u-marginTop--15'>

				<button  class='button blue u-marginRight--10'>
					<!--= scope 'emails.drafts' -->
					<!--= set_attr_if this.loading 'disabled' '' -->
					<!--= on 'click' (this.save) -->
					<span><!--= hide_if this.loading --> Save Draft </span>
					<span><!--= show_if this.loading -->Saving...</span>
				</button>

				<button class='button'>
					<!--= on 'click' emails.preview -->
					Preview Before Sending
				</button>

			</div>
		</form>
	</div>
</div>
<!-- end partial nonprofits/supporters/_email_modal -->
