<div class='modal skinny' id='exportSupportersModal'>
  <%= render 'common/modal_header', title: 'Export Supporters' %>
  <div class='modal-body'>
    <div class='u-marginBottom--10'>
      <!--= show_if supporters.filter_count -->
      <p class="filteringBy">
        Filtering by:
        <!--= put (readable_filter_names supporters.query) -->
      </p>
      <hr>
    </div>
    <div class='u-overflow--hidden'>
      <!--= if show_fields_in_export (remove_class 'u-hide') (add_class 'u-hide') -->
      <p>
        Select which custom fields you want to export:
      </p>
      <p>
        <!--= repeat custom_fields.masters.data -->
        <input type='checkbox' class='checkbox'>
        <!--= set_attr 'value' this.id -->
        <!--= set_attr 'id' (cat 'checkbox-export-custom-fields-' this.i -->
        <!--= on 'change' set_export_custom_fields -->
        <label> 
          <!--= set_attr 'for' (cat 'checkbox-export-custom-fields-' this.i) -->
          <!--= put this.name -->
        </label>
      </p>

    </div>

    <p>
      <a> Export custom fields </a>
      <!--= on 'click' (toggle 'show_fields_in_export' true) -->
    </p>

    <div class='u-centered'>
      <a class='button--small'>
        <!--= set_attr 'href' (cat './supporters.csv' (obj_to_url_params supporters.query)) -->
        <i class='fa fa-cloud-download'></i> Download <!--= put (any supporters.total_count 0) --> records as CSV
      </a>
    </div>
  </div>
</div>

