<header class='header stripe--blue'>
	<div class='container--wide'>
		<span class='u-floatL'>
			<i class='icon-contacts-3 header-icon'></i>
			<h3 class='header-title'>Supporters</h3>
		</span>
		<%= render 'tabs' %>
	</div>
</header>
