<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<header class='header stripe--blue'>
	<div class='container--wide'>
		<span class='u-floatL'>
			<i class='icon-contacts-3 header-icon'></i>
			<h3 class='header-title'>Supporters</h3>
		</span>
		<%= render 'tabs' %>
	</div>
</header>
