<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<div class='modal fullScreen' id='manageEmailDraftsModal'>
	<!--= scope 'emails.drafts' -->

	<%= render 'common/modal_header', title: "Manage Email Drafts" %>

	<div class='modal-body'>
		<button class='button--small u-marginBottom--20'>
			<!--= on 'click' (this.show_new) -->
			<i class='fa fa-plus'></i> New Draft</button>
		<p class='noResults'>
			<!--= hide_if (length this.data) -->
			It looks like you don't have any draft.  Create one by clicking the button above.</p>
		<table class='table--plaid'>
			<!--= show_if (length this.data) -->
			<thead>
				<th>Subject</th>
				<th>Message</th>
				<th>Date Created</th>
				<th></th>
			</thead>
			<tr>
				<!--= repeat this.data -->
				<td>
					<a>
						<!--= on 'click' (emails.drafts.show this.id) -->
						<!--= put this.name -->
					</a>
				</td>
				<td>
						<small><!--= put this.value --></small>
				</td>
				<td><!--= put (readable_date this.created_at) --></td>
				<td>
					<a class='dangerLink u-fontSize--20'>
						<!--= on 'click' (confirm (cat 'Are you sure you want to delete draft "' this.name '"?') (emails.drafts.delete this)) -->
						<i class='fa fa-times'></i>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<%= render 'settings_modal_footer' %>
</div>
