<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<p class='strong u-centered u-marginBottom--20'>Please review your merge choices before submitting</p>

<form class='supporterForm'>
	<!--= on 'submit' (merge.submit form_object) -->

	<div class='layout--two'>
		<fieldset>
			<label>Name</label>
			<input type='text' name='name'>
			<!--= set_value merge.data.new_supporter.name -->
		</fieldset>

		<fieldset>
			<label>Email</label>
			<input type='email' name='email'>
			<!--= set_value merge.data.new_supporter.email -->
		</fieldset>
	</div>


	<div class='layout--three'>
		<fieldset>
			<label>Phone</label>
			<input type='text' name='phone'>
			<!--= set_value merge.data.new_supporter.phone -->
		</fieldset>

		<fieldset>
			<label>Address</label>
			<input type='text' name='address'>
			<!--= set_value merge.data.new_supporter.address --> 
		</fieldset>

		<fieldset>
			<label>City</label>
			<input type='text' name='city'>
			<!--= set_value merge.data.new_supporter.city -->
		</fieldset>
	</div>

	<div class='layout--three'>
		<fieldset>
			<label>State/Region</label>
			<input type='text' name='state_code'>
			<!--= set_value merge.data.new_supporter.state_code -->
		</fieldset>

		<fieldset>
			<label>Zip Code</label>
			<input type='text' name='zip_code'>
			<!--= set_value merge.data.new_supporter.zip_code -->
		</fieldset>

		<fieldset>
			<label>Country</label>
			<input type='text' name='country'>
			<!--= set_value merge.data.new_supporter.country -->
		</fieldset>
	</div>

	<%= render 'components/forms/submit_button', button_text: 'Merge Supporters', loading_text: 'Merging...' %>

</form>
