<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<div class='modal' id='newSupporterModal'>

	<%= render 'common/modal_header', title: 'New Supporter' %> 

	<section class='modal-body'>

		<form class='supporterForm'>
			<!--= on 'submit' (ajax_supporter.create form_object) -->

			<%= render 'supporters/form_blank', require_name: true %>

			<%= render 'components/forms/submit_button', scope: 'supporter_details' %>

		</form>
	</section>
</div>

