<!-- partial start: nonprofits/supporters/_settings_modal_footer --> <footer class='modal-footer'>
	<a>
		<!--= on 'click' (open_modal 'supportersSettingsModal') -->
		Supporters Settings
	</a>
</footer>
<!-- partial end: nonprofits/supporters/_settings_modal_footer -->
