<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<div class='pageTabs'>
	<a>
		<!--= on 'click' (open_modal 'supportersSettingsModal') -->
		<i class='fa fa-gear'></i> Settings
	</a>
</div>
