.nonprofits-manage .main-metrics {
	width: 920px;
	padding: 20px 20px 0 0;
	margin: 0 0 20px 0;
	overflow: hidden;

	.left {
		float: left;
		margin-bottom: 10px;
		position: relative;

		#metric-total-shares {
			margin-left: 16px;
			.annot {
				margin-left: 196px;
			}
		}

		.metric:last-child {
			border: none;
		}
	}

	.right {
		float: left;

		.recent-donors {
			margin: 0 0 6px 0;
			padding-left: 0;
			padding-bottom: 12px;

			.name {
				color: black;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 146px;
				font-size: 12px;
				margin-right: 0;
			}

			.type {
				font-weight: 600;
				font-size: 12px;
				color: #aaa;
				margin-left: 12px;
				width: 10px;
				display: inline-block;
			}

			.amount {
				display: inline-block;
				width: 52px;
				font-weight: 600;
				font-size: 16px;
			}

			.date {
				font-size: 12px;
				color: gray;
			}

			.source {
				color: gray;
			}

			h3 {
				margin-top: 0;
				font-size: 22px;
				color: #888;
				line-height: 22px;
			}

			ul {
				list-style-type: none;
				margin: 0;

				li {

					margin: 10px 0 0 0;

					.circle-image {
						width: 30px; height: 30px;
						display: inline-block;
						vertical-align: middle;
						border-radius: 15px;
					}
				} //li

				li:hover, li:active {
					background-color: white;
				}
			} //ul

			.no-donors {
				font-size: 18px;
				font-weight: 200;
			}
		} //.recent-donors
	} //.right
} //.main-metrics
