<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<% content_for :title, t("login.header") %>
<% content_for :javascripts do %>
  <%= IncludeAsset.js '/app/session_login_pagex.js' %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'users/page' %>
<% end %>

<div id="outlet"></div>

<script>LoadReactPage(document.getElementById('outlet'))</script>
