/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
.categories {
	float: left; 
	width: 30%;
}
.categories-label {
	font-size: 15px;
	line-height: 2;
}
.highlightsImageAndDescription {
	float: right;
	padding-left: 15px;
	width: 70%;
}
