# frozen_string_literal: true

# License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE
require 'rails_helper'

<% module_namespacing do -%>
RSpec.describe <%= class_name %>Mailbox, <%= type_metatag(:mailbox) %> do
  pending "add some examples to (or delete) #{__FILE__}"
end
<% end -%>
