<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<table class='table'>
	<tr>
		<td><strong>Gross Amount</strong></td> 
		<td><%= print_currency(payout.gross_amount, payout.nonprofit.currency_symbol) %></td>
	</tr>
	<tr>
		<td><strong>Net Amount</strong></td> 
		<td><%= print_currency(payout.net_amount, payout.nonprofit.currency_symbol) %></td>
	</tr>
	<tr>
		<td><strong>Date</strong></td>
		<td><%= format_date_to_mdY(payout.created_at) %></td>
	</tr>
	<tr>
		<td><strong>Bank Account</strong></td>
		<td><%= payout.bank_name %></td>
	</tr>
</table>

