# frozen_string_literal: true

# License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE
# desc "Explaining what the task does"
# task :<%= underscored_name %> do
#   # Task goes here
# end
