# frozen_string_literal: true

# License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later
# desc "Explaining what the task does"
# task :<%= underscored_name %> do
#   # Task goes here
# end
