/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE */
@import 'mixins';
@import 'timeline';
@import 'email_modal';

.sidePanel-rightSide {
	width: 65%;
	float: right;
	padding-left: 30px;
}
.sidePanel-leftSide {
	width: 35%;
	float: left;
}

