<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<% hide_dedication = false if hide_dedication.nil? %>

<!-- partial start: cards/form_footer -->
<footer class='u-centered'>

	<div class='progressBar u-marginY--10'>
		<!--= show_if card_form.loading -->
		<div class='progressBar-fill--striped'>
			<!--= style 'width' card_form.progress_width -->
		</div>
	</div>

	<p class='status'>
		<!--= add_class_if card_form.error 'error' -->
		<!--= put card_form.status -->
	</p>

	<button type='submit' class='button' if-branded='background-color, base'>
		<!--= set_attr_if card_form.loading 'disabled' 'disabled' -->
		Submit
	</button>


	<div class='u-marginTop--10'>
		<!--= hide_if card_form.loading -->
		<div class="u-fontSize--12 u-marginBottom--0 u-marginTop--10 u-color--grey u-security-notification">
			<!--= hide_if card_form.loading -->
			<i class="fa fa-lock u-security-icon"></i>
			<div>
				<span>Transactions secured with 256-bit SSL and protected by reCAPTCHA Enterprise. The Google <a href="https://policies.google.com/privacy" target="_new" style="color: grey!important; text-decoration:underline;">Privacy Policy</a> and <a href='https://policies.google.com/terms' target="_new" style="color: grey!important; text-decoration:underline;">Terms of Service</a> apply.</span>
			</div>
		</div>
	  <% unless hide_dedication %>
		<p class='highlight u-marginBottom--0 u-centered'>
      <!--= hide_if is_hiding_dedication -->
			<small>You can add a dedication after submitting your payment</small>
		</p>
	  <% end %>
	</div>
</footer>
<!-- partial end: cards/form_footer -->
