<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!-- partial cards/new_modal -->
<!-- use cards/new.js -->
<!-- use cards.css.scss -->

<div class='modal' id='newCardModal'>

	<div class='modal-header'>
		<h3>New Card</h3>
		<%= render 'common/modal_close' %>
	</div>

	<div class='modal-body'>
		<p class='u-centered' >Add a new card for <strong><!--= put selected_supporter.name --></strong></p>

		<form autocomplete='off' class='cardForm'>
			<!--= on 'submit' (create_card form_object) -->
			<fieldset>
				<input type='text' class='input-medium' name='cardholder_name'
				required
				parsley-trigger='change'
				placeholder="Cardholders' Name">
				<!--= set_value donate_wiz.supporter.name -->
				<!--= set_value card_form.preset_name -->
				<!--= set_value selected_supporter.name -->
			</fieldset>

				<fieldset>
							<input type='text' class='input-medium' name='cardholder_zip'
							parsley-trigger='change'
							placeholder="Cardholders' Postal/ZIP Code">
							<!--= set_value form_object.cardholder_zip -->
					</fieldset>

			<div id="donationPaymentCard">

			</div>

			<input type='hidden' name='supporter_id'> <!--= set_attr 'value' selected_supporter.id -->

      		<input type='hidden' name='event_id'><!--= set_attr 'value' selected_event.id -->
			<%= render 'components/forms/submit_button' %>

			<div class="u-fontSize--12 u-marginBottom--0 u-marginTop--10 u-color--grey u-security-notification">
			<!--= hide_if card_form.loading -->
			<i class="fa fa-lock u-security-icon"></i>
			<div>
				<span>Transactions secured with 256-bit SSL and protected by reCAPTCHA Enterprise. The Google <a href="https://policies.google.com/privacy" target="_new" style="color: grey!important; text-decoration:underline;">Privacy Policy</a> and <a href='https://policies.google.com/terms' target="_new" style="color: grey!important; text-decoration:underline;">Terms of Service</a> apply.</span>
			</div>
			</div>
		</form>
	</div>
</div>

<!-- end partial cards/new_modal -->

