/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.activityFeed table,
.activityFeed tr  {
	width: 100%;
}
.activityFeed tr:nth-of-type(2n){
	background: rgba(black, 0.01);
}
.activityFeed tr:not(:first-child) {
	border-top: 1px solid rgba(black, 0.02);
}
.activityFeed td {
	vertical-align: middle;
}
.activityFeed-icon {
	font-size: 14px;
	padding: 10px 0 10px 7px;
	@include opacity(0.7);
	color: $bluegrass;
}
.activityFeed-body {
	width: 100%;
	padding: 10px 8px;
	font-size: 15px;
}
.activityFeed-ago {
	padding: 10px 5px 10px 0;
	letter-spacing: -0.5px;
	word-spacing: -0.5px;
	min-width: 85px;
	font-size: 12px;
	@include opacity(0.8);
}
