/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE */
.admin-topNav {
  width: 100%;
  background: rgba($fog, 0.8);
  border-bottom: 1px solid rgba(black, 0.05);
}

.admin-topNav .container {
  padding: 15px 10px;
}

.admin-topNav .container > * {
  margin: 5px;
}
