/* License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later */
@import 'mixins';

#better-browser-message {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $faded-sky;
	padding: 20px;
	padding-left: 100px;
	font-size: 18px;
}