/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.ccPattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ccPattern:after,
.ccPattern:before {
	position: absolute;
	content: '';
	width: 100%;
	left: 0;
	bottom: 0;
}
.ccPattern:after {
		height: 100%;
		background-image: url('/assets/patterns/features-nodes.svg');
		background-size: contain;
		@include opacity(0.3);
	}
.ccPattern:before {
	height: 60%;
	@include gradient(top, $trans, white);
}
