.checklist li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
}
.checklist li:before {
	position: absolute;
	left: 0;
	top: -3px;
	font-family: 'FontAwesome';
	color: $sea-foam;
	font-size: 20px;
	content: '\f00c';
	text-shadow: 1px 1px 0 white;
}
