/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE */
@mixin circleText($background, $size, $color, $font-size) {
	background: $background;
	display: inline-block;
	color: $color;
	@include box-shadow(2px 2px 2px 0 rgba(black, 0.06));
	@include border-radius(50%);
	text-align: center;
	font-size: $font-size;
	line-height: $size;
	width: $size;
	margin: 0;
}