/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
#confirmation-modal {
	text-align: center;
	width: 260px;
	height: 210px;
	margin-left: -130px;

	p { 
		margin-top: 20px;
		font-size: 30px; 
	}

	button.yes, button.no {
		margin: 5px;
	}
}
