/* License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later */
@import 'mixins';

@mixin container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	&:before, 
	&:after {
		display: table;
		line-height: 0;
		content: "";
	}
	&:after { 
		clear: both; 
	}
}

.container {
	@include container;
	max-width: 980px;
}
.container--800 {
	@include container;
	max-width: 800px;
}
.container--700 {
	@include container;
	max-width: 700px;
}
.container--narrow {
	@include container;
	max-width: 600px;
}
.container--mid {
	@include container;
	min-width: 700px;
	max-width: 980px;
}
.container--wide {
	@include container;
	min-width: 920px;
	max-width: 1200px;
}
