/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

@mi

@include keyframes(fadeIn) {
  0% {
    // @include opacity(0);
    // visibility: visible;
  }
  100% {
    @include opacity(1);
    visibility: visible;
  }
}

@mixin fadeIn {
  @include opacity(0);
  @include animation('fadeIn ease 0.3s forwards');
}

