.feeBox {
	@include opacity(0.9);
	text-align: center;
	width: 16.666%;
	float: left;
	padding: 0 10px;
}
.feeBox-stats {
	background: rgba($grey, 0.7);
	color: white;
	padding: 10px;
}
.feeBox--highlight .feeBox-stats {
	background-color: lighten($dark-turquoise, 10);
}
.feeBox-title {
	font-size: 17px;
	padding: 15px 0 7px 0;
	font-weight: bold;
}
.feeBox p {
	margin: 0;
}
.feeBox span {
	color: white;
}
.platformFee-val {
	font-size: 28px;
	font-weight: bold;
}
.paymentFee-val {
	font-size: 18px;
	font-weight: bold;
}
.feeBox hr {
	display: inline-block;
	border: 0;
	margin-bottom: 5px;
	width: 60%;
	border-top: 1px solid rgb(221, 221, 221);
	padding: 0;
}

@media screen and (max-width: 840px) {
	.feeBox {
		width: 33.333%;
	}
}

@media screen and (max-width: 600px) {
	.feeBox {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.feeBox {
		width: 100%;
	}
}
