/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.fullFeatures .masonry-column > div {
	margin-bottom: 30px;
}
.fullFeatures .masonry-column:nth-of-type(1) > div {
	padding-right: 16px;
}
.fullFeatures .masonry-column:nth-of-type(2) > div {
	padding: 0 8px;
}
.fullFeatures .masonry-column:nth-of-type(3) > div {
	padding-left: 16px;
}
.masonry-column {
	float: left;
}
.size-1of3 {
	width: 33.33333%;
}
.size-1of2 {
	width: 50%;
}
.size-1of1 {
	width: 100%;
}
@media screen and (max-width: 900px) {
	.fullFeatures .masonry-column:nth-of-type(1) > div {
		padding-right: 12px;
	}
	.fullFeatures .masonry-column:nth-of-type(2) > div {
		padding-left: 12px;
	}
}
@media screen and (max-width: 500px) {
	.fullFeatures .masonry-column > div {
		padding: 0;
	}
}
