/* License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later */
$hb-color: $looseleaf;

.helpBox {
	background: $hb-color;
	position: relative;
	padding: 20px;
	max-width: 300px;
	@include box-shadow(0 0 10px 0 rgba(black, 0.2));
}
.helpBox:before {
	content: '\25e5';
	position: absolute;
	text-shadow: rgba(black, 0.2) 1px 2px 10px;
	bottom: -25px;
	color: $hb-color;
	right: 25px;
	line-height: 25px;
	font-size: 25px;
}
.helpBox:after {
	content: '';
	position: absolute;
	width: 100%;
	background: $hb-color;
	height: 10px;
	left: 0;
	bottom: 0;
}