/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.legend > * {
  border: 1px solid white;
  border-left: 12px solid white;
  background: white;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
  margin: 7px 5px 0;
  padding: 3px 5px;
  @include opacity(0.9);
}
