/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.loading--overlay {
  position: relative;
}

.loading--overlay:after, 
.loading--overlay:before {
  position: absolute;
  left: 0;
  width: 100%;
}

.loading--overlay:before {
  top: 0;
  content: '';
  height: 100%;
  background: rgba(white, 0.4);
}

.loading--overlay:after {
  top: 50%;
  font-size: 18px;
  margin-top: -10px;
  text-align: center;
  content: 'Loading...';
}

