/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.npoCard {
	@include transition(box-shadow 0.1s ease);
	text-align: left;
	display: inline-block;
	position: relative;
	width: 275px;
	height: 275px;
	overflow: auto;
	margin: 10px;
	overflow: hidden;
	background: $fog;
	@include box-shadow(1px 1px 5px 0 rgba(black, 0.3));
	@include border-radius(3px);
	&:hover {
		@include box-shadow(1px 1px 10px 0 rgba(black, 0.3));
	}
}
.npoCard p {
	color: white;
	line-height: 1;
	font-weight: bold;
}
.npoCard table {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(black, 0.4);
}
.npoCard-logoTd {
	width: 70px;
	padding: 8px;
}
