/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE */
.press-row {
	background: rgb(230,230,230);
	padding: 20px 0;
}

.press-image {
	float: left;
	width: 20%;
	padding: 0 3%;
	@include opacity(0.3);
}

