/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

$tag_color: #ece6e0;

@mixin tag($color) {
	display: inline-block;
	background-color: $color;
	padding: 2px 3px;
	margin: 2px 4px 2px 0;
	font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 80%;
}

.tag {
	@include tag($tag_color);
}

.tag--red {
	@include tag(rgba(red, 0.09));
}

.tag--trans {
	@include tag(transparent);
}

