/* License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later */
.teamCard {
	background: white;
	box-shadow: 0 3px 8px 0 rgba(black, 0.1);
	width: 250px;
	margin: 10px;
	height: 420px;
	padding: 10px 15px;
	display: inline-table;
	position: relative;
}
.teamCard.noBlurb {
	height: 290px;
}
.teamCard-image {
	margin: 10px 0 15px 0;
	@include border-radius(50%);
	width: 130px;
	border: 1px solid rgba($grey, 0.1);
}
.teamCard-name {
	margin: 5px 0;
	font-size: 17px;
}
.teamCard-title {
	color: rgba($charcoal, 0.7);
	margin: 0;
	font-size: 16px;
	@include open-sans;
}
.teamCard-blurbWrapper {
	height: 145px;
	display: table;
}
.teamCard-blurb {
	display: table-cell;
	vertical-align: middle;
	border-top: 1px dashed rgba($grey, 0.2);
	border-bottom: 1px dashed rgba($grey, 0.2);
	line-height: 21px;
	font-size: 15px;
	text-align: left;
}
.teamCard-links {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	@include opacity(0.9);
}
.teamCard-link {
	font-size: 14px;
	font-weight: bold;
	padding: 0 5px;
}
.teamCard-link i {
	@include transform(translateY(1.5px));
	font-size: 20px;
}
