/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.toggleQA-toggle {
  width: 100%;
  cursor: pointer;
}
.toggleQA-toggle td:first-of-type {
  width: 35px;
}
.toggleQA-toggle + .toggleQA-a {
  display: none;
}
.toggleQA-q {
  position: relative;
  display: inline-block;
  font-size: 24px;
  margin:0;
}
.toggleQA-arrow {
  display: block;
}
.toggleQA-arrow:before {
  content: '\25B2';
  font-size: 28px;
}
.toggleQA-toggle.is-showingAnswers + .toggleQA-a {
  display:block;
}
.toggleQA-toggle.is-showingAnswers .toggleQA-arrow:before {
  content: '\25BC';
}

