/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */

[data-ff-field='invalid'] input,
[data-ff-field='invalid'] textarea,
[data-ff-field='invalid'] select {
  border-color: $red;
}
[data-ff-field-error]:after {
  content: attr(data-ff-field-error);
  color: $red;
}
