/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE */
.topNav {
  background: rgba(0,0,0,0.04);
  text-align: left;
}

.topNav-logo { @include logo(18px, $charcoal--light, true, false); }

.topNav .container {
  display: table;
  width: 100%;
}

.topNav-horizontalLinks,
.topNav-logo {
  display: table-cell;
  vertical-align: middle;
}

.topNav-horizontalLinks { text-align: right; }

.topNav-horizontalLinks *,
.topNav-verticalLinks * {
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .googleMap { display: none; }
}

@media screen and (max-width: 380px) {
  .commitchangeLogo-text { display: none !important; }
  .commitchangeLogo img { width: 32px !important; }
}

