$paper: url('/assets/patterns/paper.png');
$photo-collage: url('/assets/patterns/npo-collage.jpg');
$mosaic: url('/assets/patterns/color-mosaic.png');
$zigzag: url('/assets/patterns/zigzag.svg');

$tri-green: url('/assets/graphics/triangle-green.svg');
$radial: url('/assets/graphics/white-radial.png');