/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.campaign-card {
	text-align: center;
	vertical-align: top;
	border: white 3px solid;
	@include transition(box-shadow, 0.2s, ease);
	@include box-shadow(0 0 3px 0px rgba(0,0,0,0.1));
	width: 240px;
	display: inline-block;
	padding: 5px;
	margin: 15px;
	color: $charcoal;
	background: white;
	&:hover { @include box-shadow(0 0 10px 0px rgba(0,0,0,0.2)); }
}
.camp-card-img {
	background: white;
	display: block;
	margin: 0 auto 10px auto;
	@include background-size(cover);
	width: 100%;
	height: 150px;
	background-position: center;
	overflow: hidden;
}
.camp-card-text {
	height: 125px;
}
.camp-card-separator {
	border-bottom: 1px solid #ddd;
	width: 70%;
	height: 1px;
	margin: 10px auto;
}
.camp-card-title {
	font-weight: 600;
}
.camp-card-desc {
	padding: 0 4px;
	line-height: 1.3;
	font-size: 15px;
}

.campaign-card .progressBar--small {
	margin: 0 0 10px 0;
}

.camp-card-metrics {
	padding: 10px;
	overflow: auto;
	background: rgba(black, 0.05);
	margin: -5px;
	margin-top: 0;

	.annot {
		display: block;
		font-size: 13px;
		margin-top: 5px;
		text-transform: uppercase;
	}
}
.camp-card-supporters {
	@include columns-left(6);
	border-right: 2px solid white;
}
.camp-card-amount-raised {
	@include columns-right(6);
}
