/* License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later */
@import 'mixins';
@import 'nonprofits/donation_form/title_row';
@import 'nonprofits/donation_form/footer';
@import 'nonprofits/donation_form/form'; // for styling the actual form 
@import 'nonprofits/donation_form/show/index'; // for styling the layout on /donate
