
@mixin fadeText($max-height, $text-height, $bg-color) {
	position: relative;
	max-height: $max-height;

	&:after {
		content: "";
		text-align: right;
		position: absolute;
		top: $max-height - $text-height;
		right: 0;
		width: 50%;
		height: $text-height;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), $bg-color 50%);
	}
}
