/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.strong {font-weight: bold;}

.tip { 
	@include gutter-accent($bluegrass);
	font-weight: bold;
}


.hero {
	@include open-sans-condensed;
	text-transform: uppercase;
	font-weight: bold
}

.hero--3d {
	@extend .hero;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

span.dollar {
	color: #666;
	font-size: 0.6em;
	vertical-align: top;
}
