/* License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later */
@import 'mixins';

.fundraiser--active {
	background-color: rgba($manila, 0.5);
}

.fundraiser--past {
	background-color: rgba($sage, 0.5);
}

.fundraiser--unpublished {
	background-color: rgba($baby-blue, 0.5);
}

.fundraiser--deleted {
  background-color: rgba(255, 164, 164, 0.1);
}

