/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';

.fundraiser--active {
	background-color: rgba($manila, 0.5);
}

.fundraiser--past {
	background-color: rgba($sage, 0.5);
}

.fundraiser--unpublished {
	background-color: rgba($baby-blue, 0.5);
}

.fundraiser--deleted {
  background-color: rgba(255, 164, 164, 0.1);
}

