/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE */
.minimalHeader {
  background-color: whitesmoke;
  height: 90px;

  .container {
    padding-top: 20px;
    height: 100%;

    img {
      opacity: 0.5;
      height: 50px;
      margin: auto 0;
    }
  }
}

.minimalFooter {
  background-color: whitesmoke;
  height:70px;
  .container {
    padding-top: 24px;
    height: 100%;

    > * {
      opacity: 0.5;
      margin: auto 10px auto 0;
    }
  }

  a {
    color:$charcoal
  }

}

.site-content {
  flex: 1 0 auto;
}

body.minimal {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
