@import 'mixins';

.promote-button {
	display: block;
	margin: 20px auto;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: white;
	background-color: #5ba2cf;
	border-radius: 4px;
	padding: 10px 0 12px 0;
	@include opacity(0.8);
	@include basic-transition(opacity);

	i { 
		margin-right: 2px;
	}

	&:hover {
		@include opacity(1);
		color: white;
	}
} //.promote-button
