/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import '../mixins.css.scss';


.successes-section {
  position: relative;
  overflow: hidden;
}

.successes-text, 
.successes-photo-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 15px; 
}

.successes-photo-wrapper {
  width: 50%;
  text-align: center;
}

.successes-photo {
  border: white 5px solid;
  @include box-shadow(0 0 5px 0 rgba(0,0,0,0.2));
}

.successes-quotee { text-align: right }

.successes-quotee-photo {
  @include border-radius(100%);
  margin-right: 10px;
}


@media screen and (max-width: 700px) {
  .successes-text,
  .successes-photo-wrapper {
    width: 100%;
    display: block;
  }
}

