<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- partial start: nonprofits/_actions -->

<aside class='u-marginBottom--15'>
  <% if current_nonprofit_user? %>
	  <button class='button--jumbo  u-width--full' open-modal='newCampaign'  if-branded='background-color, dark'>
			<%= t('nonprofits.page.actions.start_campaign') %>
    </button>
  <% else %>
    <a class='button u-width--full' if-branded='background-color, dark' target='_blank' href='/peer-to-peer?npo_id=<%=@nonprofit.id %>'>
      <%= t('nonprofits.page.actions.start_campaign_for', nonprofit_name: @nonprofit.name) %>
    </a>
  <% end %>
	</button>

	<% if current_nonprofit_user? %>
		<button class='button--jumbo u-width--full' open-modal='newEvent' data-when-confirmed if-branded='background-color, dark'>
			<%= t('nonprofits.page.actions.create_event') %>
		</button>
	<% end %>
</aside>
<!-- partial end: nonprofits/_actions -->