<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- partial start: nonprofit/header_content -->
<table>
	<tr>
		<td class='fundraisingHeader-content-sideElementTd'>
			<div class='fundraisingHeader-content-logo' style="background-image:url('<%= @nonprofit.logo.attached? ? rails_storage_proxy_url(@nonprofit.logo_by_size(:normal)) : "" %>');">
			</div>
		</td>
		<td class='fundraisingHeader-content-textTd'>
			<h1 class='fundraisingHeader-content-title' data-id='<%= @nonprofit.id %>'><%= @nonprofit.name %></h1>
			<h4 class='fundraisingHeader-content-sub'><%= @nonprofit.tagline %></h4>
		</td>
</tr>
</table>
<!-- partial end: nonprofit/header_content -->
