<!-- partial nonprofits/transaction_title -->
<header class='header stripe--green'>
	<div class='container--wide u-textAlign--left'>
		<i class='header-icon <%= icon_class %>'></i>
		<h3 class='header-title'>Payments <small class='header-title-sub'>&#x2022; <%= page_name %></small></h3>
		<%= render 'nonprofits/transaction_tabs', active: active %>
	</div>
</header>
<!-- partial end nonprofits/transaction_title -->
