/* License: LGPL-3.0-or-later */
body {
  margin: 0;
  padding: 0;
	background: white;
	font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	line-height: 1.6;
	color: #30373D;
}
img{
	width: auto !important;
	max-width:100%;
  border:0 none;
  height:auto;
  line-height:100%;
  outline:none;
  text-decoration:none;
}
a img{
  border:0 none;
}
a {
	color: #479EBE;
  background-color: transparent;
	text-decoration: none;
	cursor: auto;
}
code {
	background: #f5f2f0;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: break-word;
	line-height: 1.5;
	font-size: 14px;
	display: block;
	resize: none;
	border: 0;
	cursor: text;
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
table {
	width: 100%;
	margin-bottom: 10px;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table.table,
.highlight--beige {
	background: rgb(250,250,250);
}
.table *,
.table--blank *  {
	line-height: 1;
}
.table th {
	padding: 10px 5px 10px 10px;
	text-align: left;
	font-size: 18px;
}
.table td {
	padding: 8px 5px 8px 10px;
	font-size: 15px;
}
.table tbody,
.table--blank tbody  {
	display: table-row-group;
	vertical-align: middle;
}
.table tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.05);
}
.table--blank {
	width: 100%;
}
.table--blank td,
.table--blank th {
	padding: 2px 5px;
}
button, .button{
	border: none;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	clear: both;
	color: white !important;
	display: inline-block;
	background-color: #5FB88D;
	-webkit-border-radius: 0.5em !important;
	-moz-border-radius: 0.5em !important;
	-ms-border-radius: 0.5em !important;
	border-radius: 0.5em !important;
	width: initial;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	font-size: 18px;
	line-height: 18px;
	padding: 10px 13px 9px 13px;
}
blockquote, .quote{
	margin: 20px 0 20px 20px;
	padding-left: 20px;
	position: relative;
	border-left: solid 5px #cccccc;
}
.padded {
	padding: 15px;
}
.highlight--grey {
	background: rgba(128, 128, 128, 0.05);
}
.highlight--blue {
	background: rgba(71, 158, 190, 0.1);
}
.centered {
	text-align: center;
}
p, pre {
  min-height: 16px;
  margin: 0;
}
h6 { font-size: 18px; }
h5 { font-size: 20px; }
h4 { font-size: 22px; }
h3 { font-size: 24px; }
h2 { font-size: 34px; }
h1 { font-size: 44px; }

h1,h2,h3,h4,h5,h6 {
	margin: 10px 0;
	line-height: 1.2;
}

pre {
	white-space: nowrap;
}
hr {
	border: 0;
	position: relative;
	width: 100%;
	padding: 3px 0;
	display: inline-block;
}
hr:before {
	height: 1px;
	content: '';
	position: absolute;
	background: rgba(128, 128, 128, 0.3);
	width: 100%;
	left: 0;
}
.container{
	display:block!important;
	max-width:700px!important;
	padding:15px;
	margin: 0 auto;
	clear:both!important;
}

/*froala stuff*/
img.fr-fin {
  vertical-align: top;
  display: block;
  margin: auto;
  overflow: auto;
  padding: 10px 0;
}


p.normal-margin {
	margin-bottom: 1em
}

p.normal-line-height {
	line-height: 1;
}
