<table class='table'>

	<tbody>
    <tr>
      <td><strong>Cancelled by</strong></td>
      <td> <%= donation.recurring_donation.cancelled_by %> </td>
    </tr>

    <tr>
      <td><strong>Cancelled At</strong></td>
      <td> <%= donation.recurring_donation.cancelled_at %> </td>
    </tr>
	</tbody>

</table>
