<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<table class='table'>

	<tbody>
    <tr>
      <td><strong>Failure Message</strong></td>
      <td> <%= donation.charges.last.failure_message %> </td>
    </tr>

    <tr>
      <td><strong>Failure Date</strong></td>
      <td> <%= Format::Date.simple donation.charges.last.created_at %></td>
    </tr>
	</tbody>

</table>
