<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% if @thank_you_note %>
    <div><%= raw(@thank_you_note) %></div>

<% else %>
    <div><p>You have successfully changed your recurring donation amount. Please see the receipt and details below.</p></div>
<% end %>
<hr>

<%= render 'donation_mailer/donation_changed_amount_table', donation: @donation, previous_amount: @previous_amount %>

<%= render 'components/email/supporter_table', supporter: @donation.supporter %>