<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<p>
A recurring donation from one of your supporters has been modified. Details are below.
</p>

<%= render 'donation_mailer/donation_changed_amount_table', donation: @donation, previous_amount: @previous_amount %>

<%= render 'components/email/supporter_table', supporter: @donation.supporter %>
<br>