<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p>
<a class='button' href="<%= edit_password_url(@resource, :reset_password_token => @token) %>">
  Change my password
</a>
</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<%= render 'emails/sig' %>
