<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<%= link_to root_url, target: "_blank" do %>
	<div style='text-align: center; margin-top: 50px;'>
			<p  style='font-size: 13px; color: grey;'>Fundraising Powered By</p>
			<%= image_tag Houdini.general.poweredby_logo, style: "display: inline-block;" %>
	</div>
<% end %>
