<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>

<br>
<p>All the best,</p>
<p>
The CommitChange Team<br>
<%= link_to Settings.devise.mailer_sender, "mailto:#{Settings.devise.mailer_sender}" %>
</p>
