<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>

<br>
<p>All the best,</p>
<p>
The CommitChange Team<br>
<a href="<%= Settings.devise.mailer_sender %>"><%= Settings.devise.mailer_sender %></a>
</p>
