<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<div class='modal skinny' id='chooseRoleModal'>
<header class='modal-header'>
	<h3>Choose Role</h3>
	<%= render 'common/modal_close' %>
</header>

	<div class='modal-body u-centered'>
			<button class='button--jumbo bluegreen u-marginBottom--10 u-width--full'>
				<!--= on 'click' (open_modal 'onboardSignUpModal') -->
				I'm a nonprofit
			</button>

			<div class='lineText'>
				<span>OR</span>
			</div>

			<button class='button--jumbo blue u-marginTop--10 u-width--full' open-modal='signUpModal'>
				I'm a donor
			</button>
	</div>
</div>
