<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<div class='modal skinny' id='confirmation-modal'>
	<div class='modal-body'>
	<%= render 'common/modal_close' %>

		<div>
			<p class='msg'>Are you sure?</p>
			<button data-dismiss='modal' class='yes button red'>Yes</button>
			<button class='no button'>
				<!--= on 'click' close_modal -->
				No
			</button>
		</div>

	</div>
</div>
