<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<div class='modal skinny' id='emailConfirmationModal'>
  <%= render 'common/modal_header', title: 'Confirm Your Email' %>
	<div class='modal-body'>
		<p>Before you can start a campaign or event, you'll need to first confirm your account.</p>
		<p>Check your inbox (including spam and bulk folders) for a confirmation email from us.</p> 
		<p><a href='<%= new_user_confirmation_path %>'>Resend account confirmation.</a></p>
	</div>
</div>
