<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% loading = 'Loading...' if loading.nil? %>
<% text = 'Submit' if text.nil? %>


<div class='u-centered u-marginTop--10'>
	<button type='submit' data-loading='<%=loading%>' class='button'><%=text%></button>
</div>
