<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<% subtitle = '' if subtitle.nil? %>
<% class_name = '' if class_name.nil? %>
<% branded ||= false %>

<header class='modal-header <%=class_name %>'>
	<h4 class='modal-header-title'><%= title.html_safe %></h4>
	<% if subtitle != '' %> 
		<p class='modal-header-subtitle'><%= subtitle.html_safe %></p>
	<% end %>
	<%= render 'common/modal_close' %>
</header>
