<% loading = 'Loading...' if loading.nil? %>
<% text = 'Submit' if text.nil? %>


<div class='u-centered u-marginTop--10'>
	<button type='submit' data-loading='<%=loading%>' class='button'><%=text%></button>
</div>
