<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<a target='_blank' class='button--circle facebook' href="<%= render 'components/facebook_link'%>">
	<i class='fa fa-facebook '></i>
</a>

<a target='_blank' class='button--circle twitter'  href="<%= render 'components/twitter_link', text: @article.title %>">
	<i class='fa fa-twitter'></i>
</a>

<a target='_blank' class='button--circle grey' href='https://www.linkedin.com/cws/share?url=<%=url_encode(request.original_url)%>'>
	<i class='fa fa-linkedin'></i>
</a>

<a target='_blank' class='button--circle google' href='https://plus.google.com/share?url=<%=url_encode(request.original_url)%>'>
	<i class='fa fa-google-plus'></i>
</a>
