<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<% display_code = false if display_code.nil? %>

<select name=<%= name %>>
	<option value="" disabled selected>Select a state</option>
	<% us_states.each do |state| %>
		<option value='<%= state[1] %>' <%= default == state[1] ? 'selected="selected"' : '' %>><%= display_code ? state[1] : state[0] %></option>
	<% end %>
</select>
