/* License: LGPL-3.0-or-later */
@font-face {
  font-family: 'OpenSans';
  src:  url('/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('/fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 
    -apple-system,
    BlinkMacSystemFont, 
    Segoe UI,
    Helvetica Neue,
    Helvetica,
    OpenSans,
    sans-serif;
  line-height: 1.5;
  color: var(--black); 
}

a { 
  color: inherit; 
  text-decoration: none;
}

p a { 
  background-image: linear-gradient(to right, var(--grey-5), var(--grey-5));
  background-repeat: no-repeat,no-repeat,repeat-x;
  background-position: 0 100%; 
  background-size: 100% 1px; 
  display: inline;
}

.jumbo { font-size: 4rem; }
.bump { font-size: 1.2rem; }
.sub { font-size: .9rem; }

label { font-weight: 500; }

strong, .bold, h1, h2, h3, h4, h5, h6 { font-weight: 600; }

.font-weight-1 { font-weight: 400; }
.font-weight-2 { font-weight: 500; }
.font-weight-3 { font-weight: 600; }

