/* License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE */
@import './mixins.css.scss';
@import './pikaday.css.scss';
@import './bootstrap-tour.css.scss';
@import './common/donate_button.css.scss';
@import './common/editable.css.scss';
@import './components/admin_top_nav.css.scss';
@import './common/image_uploader.css.scss';
@import './components/info_card.css.scss';
@import './components/activity_feed.css.scss';
@import './components/page_tabs.css.scss';
@import './components/fixed_top_action.css.scss';
@import './components/draggable.css.scss';
@import './gift_levels.css.scss';
@import './../../nonprofits/donation_form/form.css.scss';
@import './../common.css.scss';

.button--gift {
	font-size: 17px;
	padding: 8px 8px 5px 8px;
	width: 100%;
	line-height: 1;
}
.button--gift * {
	line-height: 1 !important;
}
.button--gift small {
	font-size: 12px;
}
.button--gift .dollar {
	font-size: 14px;
	margin-right: -3px;
}

.campaignMedia-image {
	width: 100%;
}
.campaignMedia-video {
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 56.25%;
	background: $fog;
}
.campaignMedia-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.box,
.box-l {
	padding-right: 15px;
}
.box-l,
.box-r {
	margin-bottom: 15px;
}
.box {
	@include columns(7.5);
}
.box-l {
	@include columns-left(7.5);
}
.box-r {
	@include columns-right(4.5);
}
.adminSidebar--sidebar-pledge.is-done {
	text-decoration: line-through;
}
.adminSidebar--sidebar-pledge.is-done a {
	color: rgba(black, 0.1);
}
.showWhenMobile {
	display: none;
}
.globalFooter {
	margin-top: 40px;
}
.editVideoButton {
	position: absolute;
	top: 10px;
	left: 10px;
}
.campaignMetrics h4 {
	margin: 0 0 0 0;
	font-size: 32px;
	line-height: 32px;
}

.campaignMetrics h4 .dollar {
	font-size: 20px;
	line-height: 25px;
	margin-right: 2px;
}

.campaignMetrics p {
	margin-bottom: 15px;
	@include opacity(0.9);
}

.goalAmount .dollar {
  margin-right: 1px;
}

.campaigner-profile {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.campaigner-profile > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 10px;
  align-self: flex-start;
}

.campaigner-profile > figure > .avatar {
  flex-basis: 20%;
  min-width: 100px;
  height: auto;
}

.avatar > img {
  clip-path: circle(50% at center);
}

.campaigner-profile > figure > figcaption {
  flex-basis: 40%;
  padding: 15px;
  text-align: left;
}

.campaigner-profile .reason {
  flex-basis: 60%;
}

.campaigner-profile .pastelBox-body {
  min-height: 100px;
}

@media screen and (max-width: 1000px) {
	.box,
	.box-l {
		padding: 0 15px;
	}
	.box-r {
		padding-right: 15px;
	}
}
@media screen and (max-width: 700px) {
	.box,
	.box-l,
	.box-r {
		@include columns(12);
		padding: 0 10px;
	}
	.hideWhenMobile {
		display: none;
	}
	.showWhenMobile {
		display: block;
	}
}
