# License: LGPL-3.0-or-later
name: Dependabot JS
env:
  node: 14.6.0
  os: ubuntu-latest
on: 
  pull_request:
    paths:
      - package.json
      - yarn.lock
jobs:
  dependabot:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14.6.0]
        ruby: [2.6.6]
    if: github.actor == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1.4.4
        with:
          node-version: ${{ matrix.node }}
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ matrix.os }}-yarn-${{ matrix.node }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ matrix.os }}-yarn-${{ matrix.node }}-
      - run: yarn install --frozen-lockfile
      - name: rebuild NOTICE-js
        run: yarn notice:js -u
      - name: commit to branch
        run: | 
          git config --global user.name 'Houdini NOTICE-js worker'
          git config --global user.email 'wwahammy@users.noreply.github.com'
          git commit -am "Updated NOTICE-js (Houdini NOTICE-js worker)"
      - name: Push changes
        uses: ad-m/github-push-action
        with:
          github_token: ${{ secrets.NOTICE_WORKER_PAT }}
          branch: ${{ github.ref }}
