# License: LGPL-3.0-or-later
name: Markdown lint
on: 
  pull_request:
    paths: ["**.md"]
    types: [opened, reopened, synchronize]
jobs:
  markdownlint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 14.19.1
      - name: lint Markdown
        run: yarn markdownlint