# License: LGPL-3.0-or-later
name: NOTICE-js verification
env:
  node: 14.19.1
  os: ubuntu-20.04
on: 
  push:
    paths:
      - yarn.lock
      - package.json
      - included.json
      - NOTICE-js
  pull_request:
    paths:
      - yarn.lock
      - package.json
      - included.json
      - NOTICE-js
    types: [opened, reopened, synchronize]
jobs:
  notice_js:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node }}
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - name: Verify NOTICE-js
        run: yarn notice:js