# License: LGPL-3.0-or-later
name: Pull Request Build
on:
  pull_request:
    types: [opened, reopened, synchronize]
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    name: "Build"
    uses: "./.github/workflows/single-matrix-pr.yml"
    with:
      os: ${{ matrix.os }}
      ruby: ${{ matrix.ruby }}
      node: ${{ matrix.node }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: [3.0.6]
        node: [16.x]
      fail-fast: false

