# License: LGPL-3.0-or-later
name: Ruby test and build
on: 
  pull_request:
    paths-ignore:
      - "**.[jt]sx?"
      - "**.es6"
      - "**.md"
      - "**.md"
      - "NOTICE-js"
      - "NOTICE-ruby"
      - "package.json"
      - "yarn.lock"
    types: [opened, reopened, synchronize]
jobs:
  package-download: # this downloads and caches all of the packages. That way if a future job fails, the caching will still occur
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        node: [14.18.1]
        ruby: [2.7.5]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
  main_build:
    needs: package-download
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        node: [14.18.1]
        ruby: [2.7.5]
    steps:
      - uses: actions/checkout@v2
      - name: Setup PostgreSQL with PostgreSQL extensions and unprivileged user
        uses: Daniel-Marynicz/postgresql-action@0.1.0
        with:
          postgres_image_tag: 12-alpine
          postgres_user: houdini_user
          postgres_password: password
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: install bess dependencies
        run: |
          cd gems/bess
          bundle install --jobs 3 --retry 3
      - name: run spec for bess
        run: |
          cd gems/bess
          bundle exec rake spec
      - run: bin/setup ci
      - name: run spec
        run: bundle exec rake spec
  rubocop:
    needs: package-download
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        node: [14.18.1]
        ruby: [2.7.5]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Rubocop run
        run: bundle exec rubocop

    
