# License: LGPL-3.0-or-later
name: Ruby test and build
on: 
  pull_request:
    paths-ignore:
      - "**.[jt]sx?"
      - "**.md"
      - "**.md"
      - "NOTICE-js"
      - "NOTICE-ruby"
      - "package.json"
      - "yarn.lock"
    types: [opened, reopened, synchronize]
jobs:
  package-download: # this downloads and caches all of the packages. That way if a future job fails, the caching will still occur
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        node: [14.19.1]
        ruby: [2.7.7]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
  main_build:
    needs: package-download
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        node: [14.19.1]
        ruby: [2.7.7]
    steps:
      - uses: ./.github/actions/checkout-and-prep
        with:
          install-node: true
          node: ${{ matrix.node }}
          install-ruby: true
          ruby: ${{ matrix.ruby }}
      - name: install bess dependencies
        run: |
          cd gems/bess
          bundle install --jobs 3 --retry 3
      - name: run spec for bess
        run: |
          cd gems/bess
          bundle exec rake spec
      - run: bin/setup ci
      - name: Generate JS routes
        run: bin/rails js:routes:typescript
      - name: run spec
        run: bundle exec rake spec
      - name: run assets:precompile
        run: bin/rails assets:precompile
    
