# License: LGPL-3.0-or-later
name: Single Matrix Version Pull Request Build
on:
  workflow_call:
    inputs:
      node:
        type: string
      ruby:
        type: string
      os:
        type: string
env:
# this version used for running various tools
  tool_node_version: "14.x"
  tool_ruby_version: "2.7.7"
jobs:
  changes:
    name: "Check for file changes"
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      filters: ${{ steps.filter.outputs.changes }}
    steps:
    - uses: actions/checkout@v4
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        # Path to file where filters are defined
        filters: .github/path-filters.yml

  package-download:
    name: "Package caching"
    uses: "./.github/workflows/cache-packages.yml"
    needs: changes
    with:
      os: ${{ inputs.os }}
      node: ${{ contains(needs.changes.outputs.filters, 'build-js') && inputs.node }}
      ruby: ${{ contains(needs.changes.outputs.filters, 'setup-ruby') && inputs.ruby }}

  markdownlint:
    name: Lint markdown code
    needs: changes
    if: ${{ contains(needs.changes.outputs.filters, 'markdown')}}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Run markdownlint
        run: yarn markdownlint

  ruby_build:
    name: "Ruby build and spec"
    needs:  
      - package-download
      - changes
    runs-on: ${{ inputs.os }}
    if: ${{ contains(needs.changes.outputs.filters, 'build-ruby') }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/after-checkout-prep
        with:
          node: ${{ inputs.node }}
          ruby: ${{ inputs.ruby }}
      - name: install bess dependencies
        run: |
          cd gems/bess
          bundle install --jobs 3 --retry 3
      - name: run spec for bess
        run: |
          cd gems/bess
          bundle exec rake spec
      - run: bin/setup ci
      - name: Generate JS routes
        run: bin/rails js:routes:typescript
      - name: run spec
        run: bundle exec rake spec
      - name: run assets:precompile
        run: WEBPACKER_PRECOMPILE=f bin/rails assets:precompile

  webpack:
    name: "Webpack JS files"
    needs: package-download
    if: ${{ contains(needs.changes.outputs.filters, 'build-js') }}
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/after-checkout-prep
        with:
          node: ${{ inputs.node }}
          ruby: ${{ inputs.ruby }}
      - name: run setup
        run: bin/setup ci
      - name: Generate JS routes
        run: bin/rails js:routes:typescript
      - name: Webpack compile everything
        run: yarn webpack
      - name: Verify storybook compiles
        run: yarn build-storybook

  jest:
    name: "Jest for JS"
    needs: package-download
    if: ${{ contains(needs.changes.outputs.filters, 'build-js') }}
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/after-checkout-prep
        with:
          node: ${{ inputs.node }}
          ruby: ${{ inputs.ruby }}
      - run: bin/setup ci
      - name: Generate JS routes
        run: bin/rails js:routes:typescript
      - name: run test:js
        run: yarn test:js
