<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<h2>404</h2>
<p>The requested page couldn't be found</p>

<ul>
  <li><%= link_to 'Go to the homepage', '/' %></li>
  <li><%= link_to 'Explore nonprofits', '/explore' %></li>
  <li><%= link_to 'Manage your account', '/manage' %></li>
</ul>
