<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>

<% if @theme == 'minimal' %>
  <div class="minimalFooter">
    <div class="container">
      <span>&copy; <%= Time.current.year %> <%= Houdini.hoster.legal_name %></span>
      <% if Houdini.hoster.terms_and_privacy&.about_url %><span><%= link_to("About", Houdini.terms_and_privacy.about_url) %></span><% end %>
      <span><%= link_to( t("footer.terms_and_privacy"), :static_terms_and_privacy) %></span>
    </div>

  </div>

<% end %>
