<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% if current_user %> <% unless current_user.confirmed? %>
		<%= render 'common/confirm_email_modal' %>
	<% end %>
<% end %>

<%= render 'common/confirmation' %>

<div id='js-notification' if-branded='background-color, lightest'></div>
<!--= on 'click' (remove_class 'show') -->

<div class='fullScreenLoading'>
	<!--= show_if full_loading -->
	<div class='fullScreenLoading-inner'>
		Loading...
	</div>
</div>

<div class='progressBar--app'>
	<!--= show_if loading -->
	<div class='progressBar-fill--striped'></div>
</div>

<div class='modal-backdrop'></div>

<% if yield(:footer_hidden) != 'hidden' %>
	<footer class='globalFooter'>
		<%= render 'components/footer_sub' %>
	</footer>
<% end %>