<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<%= content_for(:side_nav_hidden) {'hidden'} %>

<nav class="topNav">

  <div class='container u-padding--15'>
    <div class='topNav-logo'>
      <a href='<%= root_path %>' title='Go To Home Page'><%= render '/common/full_logo' %></a>
    </div>

    <div class='topNav-horizontalLinks'>
      <%= render '/components/top_nav_links' %>
      <% if !current_user %>
        <button data-ff-open-onboard class='button--small blue'>
          Get Started
        </button>
      <% end %>
    </div>

  </div>
</nav>