<% content_for :title, t("registration.get_started.header") %>
<% content_for :javascripts do %>
  <%= javascript_pack_tag 'loading_indicator', 'i18n', 'registration_page' %>
<% end %>

<div id="outlet"></div>

<script>LoadReactPage(document.getElementById('outlet'))</script>